[2018-01-29 06:05] AnderRasoVazquez opened #3 "Will it be only for Visual Studio Code or editor agnostic?"

[2018-01-29 07:41] harisvsulaiman commented on #3
Hi,
Let me give my 2cents on this issue.

Language server protocol supports editors like atom and vscode. Other editors can implement it.

Since vscode has excellent support for LSP, I think this project will target vscode with a plugin too.

[2018-01-29 12:11] thiagoabreu commented on #3
The vala-language-server is been tested against the [vala-code](https://github.com/thiagoabreu/vala-code) vscode plugin, because it has a good tooling for debugging the server.

But, as it's compliant to the [language server protocol](https://langserver.org/), any editor/plugin that implements a "vala language client" should work too.

[2018-01-30 18:07] benwaffle commented on #3
it will work with any editor that supports the language server protocol

[2018-01-30 18:07] #3 closed

[2018-02-18 19:53] mickeyl opened #4 "Does not compile with 0.40"
Since Vala rev 2dc4778517, `CodeContext` is no more a property of `Vala.SemanticAnalyze`, but just a member variable, hence the statement in `vala038_workarounds.vala` bails out:

`ctx.analyzer.context = null;`

[2018-02-18 19:58] mickeyl opened #5 "npm install: Cannot find module"
I tried to follow your instructions, but `npm install` bails out for me with the following.
Apparently it is looking for a directory `vscode`, which is not existing. Is that a problem on my end?

[code]

[2018-02-19 00:44] Prince781 commented on #4
Fixed. Thanks for bringing this to our attention.

[2018-02-19 00:44] #4 closed

[2018-02-19 12:31] mickeyl commented on #5
I'm really trying to get this installed here, but falling from error to error. Would it be possible to provide a VSIX for that?

[2018-02-19 12:43] mickeyl commented on #5
Ok, my fault. Years ago, I have aliased `npm` to `npm -g`, which is why it breaks for `npm install`. Without the `-g` it just works and I have created the `vsix` with `vsce`. Trying to install it now. Sorry for the noise.

[2018-02-19 12:43] #5 closed

[2018-02-19 13:47] mickeyl opened #6 "Debugging"
At last, I managed to compile and install the extension on macOS. While it seems to run ok (`ps -ef`), I can't really find it to make a difference, i.e., I don't think it actually autocompletes what I would be expecting. For a start… I try to reference a symbol from `linux.vapi` typing `Lin`, but it doesn't offer any completions. Ok, perhaps it didn't scan the vapis... trying to type `var x = Linu

[2018-02-19 19:45] benwaffle commented on #5
aliasing npm to npm -g is not a great idea :)

[2018-02-19 19:45] benwaffle commented on #6
Autocompletion is still a work in progress. We have some branches

[2018-02-20 02:36] Prince781 commented on #6
^ What Ben said.

If you're really interested, see the wip-completion2 branch.

[2018-02-20 02:55] Prince781 commented on #6
While we're working on autocompletion, you should at least be getting syntax + semantic messages from the compiler. If you're not getting these, one possibility is that you're not using VLS in a Meson project and/or you have no `compile_commands.json` file. We introspect the `meson.build` in the workspace directory to figure out what source files are compiled and what their targets are, and intros

[2018-02-26 00:27] Prince781 commented on #6
Since this "bug" doesn't address issues with unintentional behavior, and since we are working on completion, I am closing this.

[2018-02-26 00:27] #6 closed

[2018-04-14 21:37] alainm23 opened #7 "Help to compile"
Help me compile this, I am using elementary OS Loki 0.4.1 and I have the following error:
`ERROR: Native dependency 'libvala-0.40' not found`

[2018-04-16 00:54] Prince781 commented on #7
Install vala-dev.

[2018-04-22 06:14] #7 closed

[2018-10-19 18:39] esodan opened #9 "No License Information"
You should add license information to your project files.

[2018-10-23 06:03] Prince781 commented on #9
@benwaffle GPL?

[2018-10-24 02:32] benwaffle commented on #9
sure, why not

[2018-10-24 02:32] benwaffle commented on #9
@Prince781 you know more about licenses than I do

[2018-10-24 11:51] Prince781 commented on #9
@benwaffle meh, not that much, but okay.

GPL3 it is.

[2018-10-24 11:52] #9 closed

[2018-10-27 16:34] Prince781 opened #10 "JSON-RPC not working anymore"
VLS only receives `initialize()` and `shutdown()` messages from clients now. So, no diagnostics or completion messages are sent to the client. I tried to see if this was introduced in a commit, but both master and wip-completion2 have this problem, and I tried previous commits from a while ago and the problem still exists.

@benwaffle , when you're able, can you see if you can reproduce this?

usi

[2018-10-28 03:56] benwaffle commented on #10
This actually works mostly fine for me on Mac OS. go to definition is broken, but diagnostics work

[2018-10-28 05:43] benwaffle opened #11 "error handling"

[2018-10-28 06:11] benwaffle commented on #10
You should update the vscode extension, https://github.com/benwaffle/vala-code, and switch to the `master` branch

[2018-10-28 07:41] benwaffle commented on #10
ok, so the issue is when we set G_MESSAGES_DEBUG=all in client.ts, glib (at least on macos) spits out messages about posix_spawn (https://github.com/GNOME/glib/blob/e1f4ff6c252f81178fffb7155ce3537186eb8498/glib/gspawn.c#L1632). For some reason that appears to go to stdout, not stderr, which interrupts the jsonrpc exchange

[2018-10-28 07:46] benwaffle commented on #10
https://github.com/GNOME/glib/blob/22d75a0889b32f7634aaa2653d2350256f8a8615/glib/gmessages.c#L1440-L1448

[2018-10-28 09:11] Prince781 opened #12 "GNOME Builder plugin"

[2018-10-28 14:13] benwaffle commented on #10
[code]

[2018-10-30 00:50] Prince781 commented on #10
So can we close this?

[2018-11-01 02:52] danielpinto8zz6 opened #13 "Code formatting"
we can use uncrustify to format code..

[2018-11-01 15:00] danielpinto8zz6 commented on #13
do you know this repo? https://github.com/davidmhewitt/vala-language-server
it has formatting

[2018-11-01 16:17] benwaffle commented on #13
yep, i'm following it

[2018-11-01 16:18] benwaffle commented on #13
@Prince781  can we copy this GPL3 code into our project? https://github.com/davidmhewitt/vala-language-server/blob/master/src/ValaFormatter.vala

[2018-11-01 17:21] benwaffle commented on #10
Can you cherry pick 5fb404e439a1bae8f4d3332cf6e55119b4f85d08 onto master?

[2018-11-01 18:09] Prince781 commented on #10
I could, but I think that would complicate things when we later try to merge this branch into master.

[2018-11-01 18:18] benwaffle commented on #10
I don't believe it will cause issues.

[2018-11-01 18:22] Prince781 commented on #13
I chose GPL3 but then switched to LGPL 2.1 (what vala is) because some vala contributors on IRC mentioned the possibility of this work going into it.

GPL3 states that programs that link to the code have to be GPL3. LGPL 2.1 doesn't require this.

[2018-11-01 18:32] Prince781 commented on #13
@benwaffle See this: https://github.com/davidmhewitt/vala-language-server/issues/2

[2018-11-01 18:37] Prince781 commented on #10
I mean if I want to rebase master onto this branch, it wouldn't be possible without a merge commit. And I so far (correct me if I'm wrong), we don't have any merge commits in master.

[2018-11-01 18:38] benwaffle commented on #13
but are we allowed to put a GPLv3 file in a LGPL 2.1 project, and leave it as GPLv3?

[2018-11-01 18:39] benwaffle commented on #10
rebases don't have merge commits, i thought

[2018-11-01 18:39] benwaffle commented on #10
if you were to rebase, the cherry picked commit would be empty or removed

[2018-11-01 18:43] Prince781 commented on #13
According to [this](https://www.gnu.org/licenses/gpl-faq.html#AllCompatibility) (see column 4, row 3), the whole project would have to become GPL3.

[2018-11-01 19:00] Prince781 commented on #10
Yeah, what I meant was that the rebase wouldn't be possible. It would require a merge.

I didn't know this. Well, then it seems like it wouldn't be a problem.

[2018-11-01 19:12] benwaffle commented on #10
I'm just assuming that's how rebases work. I don't see any other option for git

[2018-11-02 15:51] TheNewCivilian opened #14 "Problems compiling under Ubuntu 18.04"
Unfortunately I have any idea of the meson build system. I'm getting this error on meson build:
[code]

Is there anything missing or is there a version I have to use etc. ?

[2018-11-02 15:52] benwaffle commented on #14
Looks like we're using a meson feature that's not supported on meson 0.45.1

[2018-11-02 16:04] TheNewCivilian commented on #14
Perfekt! Thank you for the super fast response. Downgrading meson to 0.40.1 fixed it!

[2018-11-02 16:19] benwaffle commented on #14
wtf? downgrading worked? i assumed the solution is to upgrade meson

[2018-11-03 01:34] #14 closed

[2018-11-04 05:11] danielpinto8zz6 commented on #13
another one: https://gitlab.gnome.org/esodan/gvls

[2018-11-17 04:19] #13 closed

[2019-01-19 06:01] Prince781 commented on #10
Cherry-picked commit. I think we can close this now.

[2019-01-19 06:01] #10 closed

[2019-03-03 03:00] gavr123456789 commented on #12
It alive, right?

[2019-03-03 03:05] Prince781 commented on #12
Unfortunately, Ben and I don't have the time to work on this project continuously. Work has been, at best, sporadic. You're welcome to contribute if you feel you're able to.

[2019-03-03 03:10] gavr123456789 commented on #12
I can't. I am a newcomer in Vala world. And it's just not very comfortable that the language has no language server since 2006 lel.

[2019-03-03 19:34] benwaffle commented on #12
check out https://gitlab.gnome.org/esodan/gvls as well

[2019-03-23 16:48] Prince781 commented on #12
I guess we can start here: https://builder.readthedocs.io/en/latest/plugins/editor/

[2019-03-23 18:28] benwaffle commented on #12
See the rust language server plugin as an example https://github.com/gnome/gnome-builder/blob/master/src/plugins/rls/rls_plugin.py

[2019-03-27 04:29] Prince781 commented on #12
In `gb-integration` I have a rudimentary plugin that spawns vls. strace shows that it's sending the right JSON-RPC commands to Builder, which doesn't seem to be acting on them. It's a little tricky trying to monitor the communication between the two processes since there's a lot of noise.

[2019-04-14 18:15] Prince781 opened #15 "meson backend: use --targets API from meson 0.50.0"
See https://github.com/mesonbuild/meson/pull/5200
meson 0.50.0 has deprecated `--target-files` in favor of `--targets`. We use `--target-files` in main.vala to get source files for a target. This needs to be changed. This is just a reminder so that when things break later I don't forget why.

[2019-05-04 19:56] minkir014 commented on #15
Do you know how to fix that?

[2019-05-12 23:32] minkir014 commented on #11
What do you mean with error handling? Do you mean code fixes?

[2019-05-12 23:39] minkir014 opened #17 "Readme"
Provide a good readme with the ability of the plugin.And I want ask about something.
Does this plugin provide symbol outlining viewing?

[2019-05-15 21:23] gavr123456789 opened #18 "Cant build on arch"
[code]

[2019-05-15 21:24] gavr123456789 commented on #18
Glib 2.60
vala 0.44

[2019-05-15 21:25] benwaffle commented on #18
probably because that's a newer version of libvala

[2019-05-16 22:35] gavr123456789 opened #19 "Cant build on elementary"
`Dependency libvala-0.42 found: NO (tried pkgconfig and cmake)`
there are 0.40 ^^

[2019-05-16 22:36] gavr123456789 commented on #19
all works with manually fix meson

[2019-05-16 23:08] #19 closed

[2019-05-16 23:42] benwaffle commented on #19
That's weird, our meson.build automatically detects your version of vala. (https://github.com/benwaffle/vala-language-server/blob/master/meson.build#L3-L6). It didn't work?

[2019-05-17 01:23] gavr123456789 commented on #19
i just dont know what it was, all works fine now
but i cant use it anyway https://github.com/thiagoabreu/vala-code/issues/14

[2019-05-17 01:28] benwaffle commented on #19
I have an updated fork, https://github.com/benwaffle/vala-code

[2019-05-17 01:37] gavr123456789 commented on #19
Amm, it just happened again, thats proof (not on ur new fork) https://youtu.be/do7R3LSUu5I

[2019-05-17 01:44] gavr123456789 commented on #19
just tried this new [repo](https://github.com/benwaffle/vala-code), and I have absolutely the same situation as in the video above.

[2019-05-17 03:16] benwaffle commented on #19
run `git checkout master` in `vala-language-server/`. Then you can try `meson build`.

[2019-05-17 03:32] benwaffle commented on #19
@gavr123456789 it works here on macOS. I've updated the dependencies on vala-code, so run `git pull` and see if that fixes it for you.

What version of nodejs and VSCode are you running?

[2019-05-17 10:50] gavr123456789 commented on #19
@benwaffle  now vala version detection works, but after F5 still same effect, 3 problems with namespace vscode.
vs code about
![image](https://user-images.githubusercontent.com/30507409/57923366-c536ff00-78aa-11e9-8f48-a31961cc152b.png)

[2019-05-17 21:56] benwaffle commented on #19
did you run `npm install` again to update the vscode language client?

[2019-05-18 00:45] gavr123456789 commented on #19
thank you for trying to solve my problem so long. ye, every time i clone all repo from zero. the best way for you to make sure I'm doing everything right is to try it out on the vm. By the way, if you're on a mac, why are you using vala instead of swift?

[2019-05-24 10:41] minkir014 commented on #15
@Prince781 Are you here?

[2019-05-24 10:42] minkir014 commented on #11
@benwaffle Are you here?

[2019-05-24 19:48] benwaffle commented on #15
@minkir014 the issue description explains how to fix it

[2019-05-24 19:49] benwaffle commented on #11
I think I just meant improving error handling

[2019-05-24 23:23] taozuhong commented on #18
./vala-language-server
** Message: 12:55:35.449: main.vala:117: Finished constructing
** Message: 12:55:45.452: main.vala:67: listening...
** Message: 12:55:55.453: main.vala:67: listening...
** Message: 12:56:05.453: main.vala:67: listening...

according #20 instructions, I have compiled and run it, but it seens not good, ex scan compile_commands.json file and parse all symbols from project and d

[2019-05-24 23:25] Prince781 commented on #18
@taozuhong there are problems with it, but did you try the **wip-completion2** branch?

[2019-07-17 09:08] gicmo commented on #18
Not only Arch is affected but now also Fedora 30 (glib 2.60.5).

[2019-08-06 17:51] Prince781 commented on #15
Fixed.

[2019-08-06 17:51] #15 closed

[2019-08-07 06:05] Prince781 commented on #12
It's almost there. Current issue is that you have to:

1. open vala project in GNOME Builder
2. kill vala-language-server

to get diagnostics to show up as you type.

[2019-08-07 06:09] Prince781 opened #23 "completion"
`wip-completion2` is a mess. I think I want to delete it and start over.
The major problem with completion is that it only works if the document is syntactically valid, because semantic analysis never proceeds after syntax errors. Two ways of approaching this:

1. Cache semantic info and try to guess the current symbol under the cursor with some parsing.
2. Change `valac` to support semantic analy

[2019-08-07 06:10] Prince781 commented on #18
Is this still a problem?

[2019-08-07 06:24] Prince781 commented on #17
Not yet. That's planned.

[2019-08-07 06:25] Prince781 commented on #17
I'm closing this because I've updated the README and any other concerns (like symbol outlining) should be made into a separate issue.

[2019-08-07 06:25] #17 closed

[2019-08-07 06:34] Prince781 opened #24 "goto definition"
Many times it does nothing, and sometimes I'm taken to weird places that have nothing to do with the symbol. Otherwise it works fine.

[2019-08-07 11:58] minkir014 opened #25 "Good Outlining Support"
We need to add support for good viewing outline symbols.

[2019-08-07 12:18] gavr123456789 commented on #18
That's the first thing I see after pressing F5  (Last step in instruction)
![image](https://user-images.githubusercontent.com/30507409/62622031-0547d400-b926-11e9-92d6-930d67517c4e.png)
And this after clicking show errors:
![image](https://user-images.githubusercontent.com/30507409/62622110-4344f800-b926-11e9-83a7-51ce480b8d31.png)

ЗЫ There misprint "cd vala-lanugage-server" -> language

[2019-08-08 18:22] Prince781 commented on #18
@gavr123456789 It looks like it builds successfully.

[2019-08-08 18:23] Prince781 commented on #18
As to the issue with the vscode plugin, I think either @benwaffle or @thiagoabreu would be better-suited to address.

[2019-08-08 18:34] benwaffle commented on #18
Can you try with the latest version of vala-code?
[code]

[2019-08-09 16:41] gavr123456789 commented on #18
@benwaffle
[code]
hmm, Everything went fine, now after pressing F5 there are no errors appear. Another VS Code opens in which no new extensions are installed, but there is support for Vala syntax if you create a new `.vala` file in it. But there is no code diagnostics, it looks like I just install the Vala-Code plugin from the Extensions menu.

[2019-08-09 17:54] benwaffle commented on #18
If you go to the Log and go to `vala-language-server` you should see stuff.

[2019-08-09 18:05] gavr123456789 commented on #18
Here for the listening, but not the file that I editing right now (at least not the same as the name and line number)
![image](https://user-images.githubusercontent.com/30507409/62799426-72579700-bae9-11e9-999f-e60d17a2df11.png)

[2019-08-09 18:07] benwaffle commented on #18
Currently we only work with meson projects.

[2019-08-09 18:07] gavr123456789 commented on #18
Oh, it's just a line of code from where this log is written, huh. In any case, nothing happens here except endless lines of `listening`

[2019-08-09 18:08] gavr123456789 commented on #18
okey, so i can check it only on proj with meson, will try in hour later, going to get the chicken from kfc now xd

[2019-08-10 17:29] Prince781 commented on #25
Okay, I think I can say we now have this feature.

[2019-08-10 17:57] Prince781 commented on #18
I'm seeing this same issue when I try to open VLS from the vscode extension.

[2019-08-10 17:58] benwaffle commented on #18
which issue? you can't just open a single vala file. you need a meson project.

[2019-08-10 17:59] Prince781 commented on #18
Just a bunch of "listening..." messages. No response when I modify the document.

[2019-08-10 18:00] benwaffle commented on #18
i think that's expected

[2019-08-10 18:03] Prince781 commented on #18
There are no diagnostics shown when I type.

[2019-08-10 20:32] Prince781 commented on #12
I've partially reverted 3f2cae0667d3a591e4b8b7eddefb986ecbeca7b2, which fixes the issue. I guess it's probably because of the environment variables I was using. Nevertheless, I'm keeping this change since it should prevent all surprises in the future.

[2019-08-10 20:33] Prince781 commented on #18
I've partially reverted 3f2cae0667d3a591e4b8b7eddefb986ecbeca7b2, which fixes the issue. I guess it's probably because of the environment variables I was using. Nevertheless, I'm keeping this change since it should prevent all surprises in the future.

[2019-08-11 05:22] Prince781 commented on #25
The only thing left on the agenda is to get namespaces working. This is a bit tricky because namespace symbols can appear many times when visiting, particularly if you have something like:

[code]

[2019-08-11 09:11] Prince781 opened #26 "Tests"
We need to setup a testing infrastructure. A good setup should capture most use cases of VLS and allow us to quickly detect regressions.

[2019-08-11 15:13] benwaffle commented on #25
Can we make the symbols ordered in the same order as they are defined in the code?

[2019-08-11 15:23] benwaffle opened #27 "Autogenerate LSP definitions"
Ideally the spec would be in JSON or something, but according to https://github.com/microsoft/language-server-protocol/issues/67 it's not yet there.

We would have to write the code generator in TS and run a typescript parser over this:
https://github.com/microsoft/vscode-languageserver-node/tree/master/protocol/src

[2019-08-11 15:24] gavr123456789 commented on #18
So I tried to open a project with meson(generated Builder) and now I'm really getting some messages (here I specifically skipped `;` ) However visually nothing happens and I don't understand I expect I'll get something like a missing semicolon, however here I see
[code]
![image](https://user-images.githubusercontent.com/30507409/62835808-2cbfd900-bc65-11e9-8bd8-08b8586a0320.png)

[2019-08-11 15:45] benwaffle commented on #24
it breaks after changing some code, even though the result is syntactically valid.

[2019-08-11 16:00] benwaffle commented on #18
Looks like a bug. @Prince781 maybe the vala038_workarounds need to be updated?

[2019-08-11 16:01] benwaffle opened #29 "play nice with VSCode meson plugin"
maybe it can handle configuring the build dir for us? or we just copy the logic https://github.com/asabil/vscode-meson/tree/master/src/meson

[2019-08-13 01:37] Prince781 commented on #25
Why would you want that? Not having the symbols sorted kind of defeats the purpose of the outline—to help you find symbols in your code.

[2019-08-13 01:43] Prince781 commented on #25
Also, this is the behavior for LSP clients that don't support hierarchical symbol outlining, like vim-lsp and gnome-builder.

[2019-08-13 01:56] Prince781 commented on #18
@gavr123456789 Did you try with the latest version of master? In this recent commit (https://github.com/benwaffle/vala-language-server/commit/e4dcfb3fda8b8c61daa83d9266014da5a280b747) I changed things so that any non-JSON-RPC messages will get sent to stderr, which should allow things to still work when VLS encounters one of these situations.

[2019-08-13 04:15] Prince781 opened #30 "A shorter name for the server"
I'm not proposing to change the name of the project, just the executable. I feel `valals` would be better. It's short and still unambiguous, unlike `vls`.

[2019-08-13 04:18] benwaffle commented on #30
why?

[2019-08-13 04:19] Prince781 commented on #30
I think it's too long.

[2019-08-13 04:20] benwaffle commented on #30
yeah, but when are you typing it?

[2019-08-13 04:21] Prince781 commented on #30
Not ever, really. But I still think it's a clunky name. A lot of other server names are pretty short (`clangd`, `glslls`, `pyls`).

idk

On the other, there are other servers that have a long name too (`bash-language-server`).

[2019-08-13 04:24] benwaffle commented on #30
`valals` makes me think of `ls`. I think `vala-language-server` is fine. It's unambiguous and it's not like anyone has to type it.

[2019-08-13 04:27] Prince781 commented on #23
I notice that document symbol outlining still works with syntax errors, which implies that maybe since last time `valac` has been changed and (2) is taken care of. I'll investigate later.

[2019-08-13 04:28] Prince781 commented on #30
What about `valad`?

[2019-08-13 04:30] benwaffle commented on #30
nah, there's nothing wrong with the current name.

[2019-08-13 04:30] benwaffle commented on #30
`valad` doesn't say what the daemon does

[2019-08-13 04:31] benwaffle commented on #23
@ricotz How much does libvala handle parsing and semantic analysis with syntax errors?

I thought it would fail at the parsing step.

[2019-08-13 04:41] Prince781 commented on #30
Okay, fair enough. I'll drop this issue.

[2019-08-13 04:41] #30 closed

[2019-08-13 04:49] Prince781 opened #33 "hover"

[2019-08-13 05:11] ricotz commented on #23
@benwaffle You already have the control whether to abort or not. Under which conditions you are invoking the `parser.parse(context)` followed by `context.check()` is your responsibility. Although running the `SemanticAnalyser` on a broken syntax-tree will create issues.

Error reporting in the parser is essential, but it might be possible to have a less broken syntax-tree. This would require chang

[2019-08-13 10:10] gavr123456789 commented on #18
no, will try again today

[2019-08-15 03:25] Prince781 commented on #18
@gavr123456789 well?

[2019-08-15 18:05] gavr123456789 commented on #18
@Prince781  sorry for waiting, now i have no libvala to build vala-language-server, and i cant find it on arch packages.
![image](https://user-images.githubusercontent.com/30507409/63115668-5ac45680-bfa0-11e9-88be-18e9d6580432.png)

[2019-08-16 01:54] Prince781 commented on #18
@gavr123456789 that doesn't look like VLS you're building. We don't depend on cmake, and we depend on libvala-0.44

I'm on arch and have no problems building VLS. Are your repos broken? https://www.archlinux.org/packages/extra/x86_64/vala/

[2019-08-16 15:06] gavr123456789 commented on #18
@Prince781 hmm okey, what im doing wrong? https://youtu.be/goWrJc2DVxk

[2019-08-16 15:16] benwaffle commented on #18
Our fault. Try `git submodule update` in `vala-code` and then building VLS

[2019-08-16 15:47] gavr123456789 commented on #18
Nice! now all works, so edit README for others peples https://youtu.be/CqSdrDNYPTg . I don't know anything about the VS Code extensions architecture, how do I make this extension stay enabled forever?

[2019-08-16 22:03] gavr123456789 commented on #18
Peek Definition and Go To Definition works great!

[2019-08-16 22:23] gavr123456789 commented on #18
It cant find Gee lib, even if i add meson file with its as dependency
![image](https://user-images.githubusercontent.com/30507409/63201350-8bce8500-c08d-11e9-8cd6-0792d688ddf5.png)

[2019-08-17 04:01] Prince781 commented on #18
@gavr123456789 I think you currently must manually regenerate the build directory when you change the meson.build file. This means either deleting the temporary build directory that VLS created if there was no build directory, or if there was, running `meson build` again.

[2019-08-18 14:33] gavr123456789 commented on #18
@Prince781  all good now, idk why. Last question, how to install it in right way?

[2019-08-18 16:07] Prince781 commented on #18
`ninja -C build install` will install into `/usr/local`

If you want to change the prefix, then do `meson -Dprefix=<prefix> build` before.

[2019-08-18 16:12] #18 closed

[2019-08-18 17:18] Prince781 commented on #26
I guess #32 counts as progress towards this issue?

[2019-08-18 23:10] benwaffle commented on #26
It's a starting point. But we haven't written any tests yet.

[2019-08-19 15:30] benwaffle opened #34 "go to definition is broken under certain invalid files"
We're narrowing the nodes down to the `Expression` but I think the `symbol_reference` is null so we don't find the definition.

[2019-08-20 12:23] taozuhong opened #35 "Can't build on windows due to Posix namespace"
I have tried to build it on windows via MSYS2, but it failed, due to rely on Posix namespace.

[2019-08-20 15:15] benwaffle commented on #35
[code]

[2019-08-20 16:28] gavr123456789 opened #36 "Just news"
Looks like autocompletion works fine in GVLs (there gif in [this](https://github.com/elementary/code/pull/599) thread) but there no plugin for vs code yet.

[2019-08-20 16:30] gavr123456789 opened #37 "Add installation instructions to README"
Add instruction how to install vls on vs code, not just run once.
(im still dont understand, i installed it throw meson, but still need to open folder with vls and press F5 to run a vs code instance with vls works)

[2019-08-21 00:39] Prince781 commented on #36
We're aware. GVLS doesn't support LSP the last time I checked, so it's a lot less versatile.

[2019-08-21 01:07] Prince781 commented on #36
I've added a room [here](https://gitter.im/vala-language-server/community) for general discussion. Since this is not an issue, I'm closing this.

[2019-08-21 01:07] #36 closed

[2019-08-21 02:09] benwaffle commented on #36
@Prince781 the description for GVLS says "GNOME Vala Language Server is a library designed to provide services for IED using Vala as programming language."

[2019-08-21 02:11] benwaffle commented on #36
it definitely supports LSP https://gitlab.gnome.org/esodan/gvls/blob/master/src/gvls-server-lsp.vala#L37-43

[2019-08-21 02:20] Prince781 commented on #36
@benwaffle  interesting. Do you think we could use this in any way?

[2019-08-25 01:23] Prince781 commented on #35
Not familiar with MSYS2, but shouldn't there be a POSIX layer for Windows?

[2019-08-25 04:20] taozuhong commented on #35
https://github.com/msys2/MSYS2-packages/issues/1692
===> MINGW glib2 never has gio-unix component

[2019-08-25 11:08] Prince781 commented on #35
Then I guess that means VLS doesn't work on MINGW.

[2019-08-25 15:42] Prince781 commented on #34
Could this commit (57abbeab) have broken it? It fixed some other things, though.

[2019-08-26 00:20] taozuhong commented on #35
Don't worry about it, there are an better environment for VLS： WSL2.

[2019-08-29 00:56] Prince781 commented on #35
This is technically more of an enhancement than a bug—we don't support Windows and have no immediate plans to.

[2019-08-29 00:58] Prince781 commented on #34
I've noticed the same thing when trying to get definitions from MemberAccess nodes. See the chat (gitter.im)

[2019-08-31 06:19] benwaffle opened #38 "get documentation from gir"
most of the time, the documentation is in the .gir file, not the .vapi

[2019-08-31 07:04] benwaffle commented on #34
You can reproduce by deleting a `;`

[2019-10-12 18:58] benwaffle opened #41 "Determine what versions of libvala to support"
e.g. here's a new change in vala 0.47 - https://gitlab.gnome.org/GNOME/vala/issues/867

[2019-11-03 12:06] jtrees opened #42 "Add support for "using" keyword"
Currently the `using` keyword doesn't seem to be supported.

#### Example

[code]

This will yield an error at `public Bar get_bar ()` because `Bar` cannot be found.

[2019-11-14 18:35] esodan opened #43 "VS Code: LSP Client connect to GVls Server"
A new 0.12 release of [GVls](https://gitlab.gnome.org/esodan/gvls) is out, it provides the foundations to implement Clients for many IED like VS Code, just need to find a way to connect this project's client to [GVls](https://gitlab.gnome.org/esodan/gvls) server.

[GVls](https://gitlab.gnome.org/esodan/gvls) provides TCP/IP local connection using 1024 port or STDIO.
A way to run the server from VS

[2019-12-24 23:37] Prince781 commented on #38
Is it *ever* in the vapi?

[2019-12-24 23:39] Prince781 commented on #33
Currently working on this in wip/completion bte

[2019-12-26 02:42] gavr123456789 commented on #35
@taozuhong If you still haven't found[ it](https://github.com/philippejer/vala-language-server-alpha), this is fork of this VLS that [works ](https://github.com/philippejer/vala-language-server-alpha/issues/8)on Windows.

[2019-12-26 08:04] taozuhong commented on #35
Got it, tried it already, it seems response slowly, so I turn back Vala Code extension now.

[2019-12-29 06:35] Prince781 commented on #43
Thanks for your hard work. I will take a look at some of your code and see if and how we could collaborate on features.

[2019-12-30 08:00] Prince781 commented on #38
I took a look at GirParser. If you add GIR files to the CodeContext then documentation views just work, since the GirParser populates comment attribute of symbols.
The problem is that GIR files and VAPIs are mutually exclusive, which creates problems when one is requested by the project configuration. The other problem is that glib-2.0.vapi is required by default and you cannot omit it at all nor

[2019-12-31 20:12] Prince781 opened #44 "Autotools support"
Support the autotools build system

[2020-01-01 17:35] Prince781 opened #45 "GtkTemplate support"
Classes with a `[GtkTemplate]` attribute should get completions for fields and other things

[2020-01-09 05:48] benwaffle commented on #27
somebody parsed the markdown - https://gist.github.com/bollwyvl/7a128978b8ae89ab02bbd5b84d07a4b7

[2020-01-11 07:02] Prince781 commented on #24
Greatly enhanced and fixed in #39

[2020-01-11 07:03] Prince781 commented on #33
Implemented in #39

[2020-01-11 07:04] #43 closed

[2020-01-11 07:06] Prince781 commented on #12
We could take a look at the gvls plugin now that it's been added to Builder.

[2020-01-11 18:06] Prince781 opened #46 "Completions + hover for Vala.Attributes"
Introduce completions for attributes and attribute properties. This may require upstream work to:
- fix the parser to handle syntactically invalid attributes
- introduce something like `Vala.AttributeParameter : Vala.CodeNode` so that completers can figure out what parameter is at the cursor

[2020-01-14 21:20] benwaffle opened #47 "Target Vala LTS"
Next LTS version will be 0.48

elementary OS 6 will launch with that

Let's maintain compatibility for 0.48, even as new versions are released

[2020-01-16 22:04] Prince781 commented on #47
A good idea, but it means I'll have to get all of my patches approved soon.

[2020-01-17 06:26] benwaffle commented on #41
#47

[2020-01-17 06:26] #41 closed

[2020-01-20 23:02] Prince781 opened #48 "List tasks for newcomers"
There are a couple of tasks/bugs we could single out as newcomer projects that would help more people get involved in development of VLS.

[2020-01-21 04:33] Prince781 opened #49 "Use gvs library instead of object_to_variant/parse_variant"
we should look into using [this obscure library](https://github.com/tcbrindle/gvs) for converting GObjects to GVariants rather than using the object <-> JSON <s>string</s> <-> variant pipeline we have with `object_to_variant` / `parse_variant`

[2020-01-21 04:34] benwaffle commented on #49
I don't believe it's object -> string -> variant, it's object -> Json.Node -> variant

[2020-01-21 04:35] benwaffle commented on #49
And let's wait until variant serialization is a performance bottleneck before we do this.

[2020-01-21 04:37] Prince781 commented on #49
You're right about it being Json.Node instead of string. And you're also right that we should determine whether this is a performance bottleneck before doing anything about it. I suppose I'll let this issue serve to remind me of the existence of this repo.

[2020-01-24 09:50] giacomoalbe commented on #48
Hi @Prince781!

This will definitely help me get started with VLS development, since I would truly like to have it working, it would be more than necessary to my workflow!

Is there anything I can tackle which is also _beginner friendly_ from a language server point of view?

[2020-01-31 00:13] esodan commented on #12
Please do it. GVls need more tests and fixes for better diagnostics and completion. While there are some work left in Builder the features are there.

In Builder the most annoying issue is to detect the `--pkg` and other switches used at build time, so diagnostics can provide reliable messages and completion can also provide symbols from namespaces in use.

[2020-02-01 04:21] Prince781 commented on #35
@taozuhong I've made changes to allow VLS to build on Windows. If you can, let me know whether it works in VSCode.

[2020-02-03 02:30] taozuhong commented on #35
I've tested the source code on MSYS2 environment, compiled and started to run successfully.

[2020-02-03 23:41] Prince781 commented on #35
@taozuhong So we can close this issue?

[2020-02-03 23:44] Prince781 commented on #47
It looks like the code freeze has passed and so we might not have the upstream changes for 0.48

[2020-02-03 23:49] Prince781 commented on #25
This issue is fixed in #39

[2020-02-03 23:52] Prince781 commented on #34
I think this has been largely fixed in #39

[2020-02-04 06:19] Prince781 opened #50 "IntelliJ IDEA plugin"
This is a little far-out, but it would be really nice to have, in addition to VSCode, Vim, and GNOME Builder.

[2020-02-04 06:25] Prince781 commented on #26
I think this would be a good newcomer item. At least writing test cases with syntactically invalid documents would be a good start.

[2020-02-04 11:28] Prince781 commented on #27
I don't know if it would be worth the extra effort to write a parser to convert JSON to Vala objects.

[2020-02-04 11:31] Prince781 commented on #47
It looks like @ricotz cherry-picked six or so commits from the LSP work, but a lot of the important stuff for signatureHelp and member access completion has yet to be merged. I suspect that at least some commits (like the work for `signatureHelp`) may not make it as they introduce API changes.

[2020-02-04 11:47] Prince781 opened #51 "Support vim-lsp-settings"
See https://github.com/mattn/vim-lsp-settings

[2020-02-04 23:08] Prince781 opened #52 "windows CI"

[2020-02-04 23:10] Prince781 commented on #48
@giacomoalbe see the [newcomers](https://github.com/benwaffle/vala-language-server/labels/newcomers) label

[2020-02-04 23:58] Prince781 opened #53 "workspaces"
Support workspaces and workspace folders from the Language Server Protocol.

[2020-02-05 13:41] #35 closed

[2020-02-05 13:42] taozuhong commented on #35
Sure and done.

[2020-02-05 23:42] Prince781 opened #54 "memory leaks"
<s>There are severe memory leaks that must be taken care of.</s>

The severest leaks are gone now, but there's still more leaks to fix.

[2020-02-05 23:52] Prince781 opened #55 "signatureHelp for printf-style functions"
Currently, a function like `printf()` gets signature help for just the string and the varargs, like this:

![](https://i.imgur.com/qbpYb35.png)

We would like to analyze the format string so that in the above example, the signature help is `void printf (string format, string arg1, int arg2)`. If there are no arguments detected in the format string, the signature help should just display `printf (s

[2020-02-05 23:58] Prince781 commented on #55
This may be a good newcomer task, but it shouldn't be handled until after #39 is merged.

[2020-02-06 00:43] Prince781 commented on #54
@gavr123456789 these are leaks in the Vala *compiler* I'm talking about

[2020-02-11 05:06] gavr123456789 commented on #54
Wow, okey, this is not so important because the compiler works in fractions of seconds, and GCC takes up most of the time.

[2020-02-12 00:11] Prince781 commented on #11
I think we've largely addressed this issue. By making warnings fatal, we've forced ourselves to capture and recover from errors throughout the code.

[2020-02-12 00:11] #11 closed

[2020-03-02 22:11] #23 closed

[2020-03-02 22:11] #24 closed

[2020-03-02 22:11] #25 closed

[2020-03-02 22:11] #33 closed

[2020-03-02 22:11] #34 closed

[2020-03-02 22:11] #38 closed

[2020-03-02 22:29] Prince781 commented on #54
@gavr123456789 no, it is important because VLS creates and destroys instances of the Vala compiler every time the project is modified

[2020-03-02 23:10] Prince781 commented on #37
Fixed.

[2020-03-02 23:10] #37 closed

[2020-03-02 23:19] Prince781 commented on #42
Is this still an issue?

[2020-03-02 23:22] Prince781 commented on #42
I've tried this scenario with the current version of VLS and libvala-0.48 and it works. I'm closing this issue for now unless it's still a problem.

[2020-03-02 23:22] #42 closed

[2020-03-03 00:17] Prince781 opened #56 "member access completion broken in vim-lsp"
Member access completion is currently broken with vim-lsp.

[2020-03-03 01:21] Prince781 commented on #12
I've tested with GNOME Builder and things are working now, at least for meson projects.

[2020-03-03 01:21] #12 closed

[2020-03-03 03:51] #48 closed

[2020-03-03 19:02] Prince781 opened #57 "improved code completion behavior"
- [x] retrigger code completion when typing after an incomplete member access
- [x] introduce SymbolExtractor as measure of last resort in FindSymbol
- [x] use current CodeContext as cache, for fast, approximate suggestions
- [x] suggest overridable symbols
- [x] suggest keywords

[2020-03-05 01:10] gavr123456789 commented on #54
![image](https://user-images.githubusercontent.com/30507409/75937824-1eead300-5e97-11ea-8e9b-23e945cc9258.png)
Ye, leak a real problem, looks like i just cant use it now.

[2020-03-05 01:19] Prince781 commented on #54
@gavr123456789 for now the solution is to just kill vls and let the plugin restart it

[2020-03-05 01:23] gavr123456789 commented on #54
@Prince781  These 10 GB leaked in about 3-5 minutes. Why didn't Philip's VLS leak? (by the way, now it is not going to build, since vala has updated to 0.46)
https://github.com/philippejer/vala-language-server-alpha/issues/30

[2020-03-05 01:27] Prince781 commented on #54
@gavr123456789 it's something I'm looking into.

[2020-03-05 01:34] gavr123456789 commented on #54
@Prince781 Great to hear, I'll be waiting. Because when I updated to Vala 0.48, I found myself in an amazing situation with LS.
This one is leaking, and to get all the functions I need to manually build Vala with MR(I'll definitely try it, the live documentation looks awesome, but I'm not particularly good at git)((and without MR, auto-complition only work for the root namespace))
Philip's VLS is

[2020-03-05 21:28] Prince781 commented on #54
It looks like `Vls.ListSymbol` is sticking around after going out of scope.

[2020-03-05 22:34] Prince781 commented on #54
@gavr123456789 the latest commit doesn't fix the issue of `Vls.ListSymbol` sticking around, but it prevents them from keeping the `Vala.CodeContext`s around. So memory consumption should go way down now.

[2020-03-05 23:43] taozuhong opened #58 "Failed to load document on windows"
OS: Windows7 6.1.7601
MSYS2: 3.1.4
Pacman: 5.2.1
Vala: 0.48
GCC: 9.2.0
build: meson 0.53.2

clone vls and compile it, then copy vala-language-server.exe to /mingw64/bin
the vls server can start, then output the follow log:
[code]

[2020-03-06 00:18] Prince781 commented on #58
Those two critical messages are interesting. Is there any way you can debug them? It looks like the initialize response sent from the client to VLS isn't getting deserialized.

[2020-03-06 00:36] Prince781 commented on #58
Actually, scratch that. It looks like the meson introspection deserialization is not working

[2020-03-06 00:45] Prince781 commented on #58
@taozuhong what version of meson do you have?

[2020-03-06 10:24] taozuhong commented on #58
pulled the latest code, recompiled vls, failed again:
[code]

[2020-03-06 17:51] Prince781 commented on #58
@taozuhong what's your version of json-glib and jsonrcp-glib?

I actually just tried running this on Windows earlier today and it worked for me. What does it show when you run `meson build`? Here's what I have:

![screenshot](https://ibb.co/whjh1xg)

[2020-03-07 03:07] taozuhong commented on #58
it seems that ther are same:
[code]

[2020-03-07 07:51] Prince781 commented on #58
@taozuhong can you try now and paste the output?

[2020-03-07 08:11] Prince781 opened #59 "incremental recompilation"
Investigate `--use-fast-vapi` and `--fast-vapi` for incremental recompilation

[2020-03-07 08:16] Prince781 opened #60 "resolve dependencies between targets"
A fair number of Vala projects (Geary, libgtkflow, Gitg) fail because they have multiple build targets where one target may depend on the VAPI or GIR generated by the previous target. However, this generated file doesn't show up in the source list of the build target JSON info we get from `meson introspect --targets`, although it does appear in the `build.ninja` file. Either this is something that

[2020-03-07 14:27] gavr123456789 commented on #60
Is that realting with [this](https://github.com/philippejer/vala-language-server-alpha/issues/18) somehow?

[2020-03-08 23:14] gavr123456789 opened #62 "VSc git view VLS crash"
When I opened the git menu to view commit changes, the VLS console displayed this:
[code]

It looks like VLS is trying to autocomplete in viewing changes.

[2020-03-09 08:23] Prince781 opened #63 "manpage"
Create manpage for VLS

[2020-03-09 09:02] Prince781 commented on #62
It looks like in this case we're getting a null URI probably because the Git diff isn't an actual file on disk. Nevertheless, it's strange that this is getting sent as a Vala document.

The solution here is probably just to ignore it and send a warning.

[2020-03-09 09:04] Prince781 opened #64 "create distro packages"
- [x] Archlinux (done - https://aur.archlinux.org/packages/vala-language-server/, https://aur.archlinux.org/packages/vala-language-server-git/)
- [x] Ubuntu 18.04 (done - https://launchpad.net/~prince781/+archive/ubuntu/vala-language-server)
- [x] Fedora 32 (done - https://copr.fedorainfracloud.org/coprs/prince781/vala-language-server/)

[2020-03-09 09:10] Prince781 commented on #60
@gavr123456789 yes

[2020-03-09 12:25] benwaffle commented on #64
where is the script to build a deb?

[2020-03-09 18:38] Prince781 commented on #64
@benwaffle see `wip/packaging/debian`

You basically do this:

1. update `debian/changelog` appropriately if the version changes. The changelog is in a special format that the Debian build system will use to generate the package.
2. update `debian/control` with package dependencies if they change
3. Build a *source* package with the command `debuild -uc -us -S`
4. In the parent directory (outside

[2020-03-09 22:50] Prince781 commented on #60
The problem is that the Meson target info doesn't contain any information about dependencies. If a target B relies on a VAPI generated by another target A, the generated VAPI doesn't appear in the sources or argument list of target B in `build/meson-info/intro-targets.json`. However it does appear in the `build.ninja` script. Here's an example from compose:

`intro-targets.json`:
[code]

Look at t

[2020-03-09 22:54] Prince781 commented on #60
@benwaffle what do you think?

[2020-03-10 00:00] Prince781 opened #65 "fix handling of UTF-8 strings"
This is an example that fails when you modify the document (try adding/deleting a Cyrillic char) because we aren't handling UTF-8 properly in `get_string_pos()`:

[code]

[2020-03-10 00:11] #65 closed

[2020-03-10 01:26] taozuhong commented on #58
follow log text outputted by latest code today:
[code]

[2020-03-10 01:37] benwaffle commented on #60
I would do 2 and 3 in parallel

[2020-03-10 01:38] benwaffle commented on #65
👍

[2020-03-10 02:04] Prince781 commented on #58
@taozuhong could you tell me what' in `build/meson-info/intro-targets.json` or what you get from `meson introspect build --targets`?

[2020-03-10 06:22] taozuhong commented on #58
[code]

[2020-03-10 07:18] Prince781 commented on #58
@taozuhong thanks. And did you get this from `build/meson-info/intro-targets.json` or did you get it by running `meson introspect build --targets | python -m json.tool`? If they produce different outputs, could you paste the results of the other?

[2020-03-10 07:42] Prince781 commented on #58
@taozuhong Could you also try compiling and running the following program in two ways:

[code]

Compile with `valac --pkg json-glib-1.0 testjson.vala`, and then run in two ways:

1. `./testjson build/meson-info/intro-targets.json`
2. `meson introspect build --targets | python -m json.tool > targets.json && ./testjson targets.json`

And tell me what's the output.

[2020-03-10 09:23] taozuhong commented on #58
ran the follow command and got output:
[code]

[2020-03-10 09:30] taozuhong commented on #58
__done as you guide, got the follow output:__
[code]

[2020-03-10 11:57] Prince781 commented on #58
@taozuhong can you try now?

[2020-03-10 12:00] Prince781 commented on #62
@gavr123456789 can you check now?

[2020-03-10 22:11] gavr123456789 commented on #62
@thiagoabreu Yyep, all good!
![image](https://user-images.githubusercontent.com/30507409/76364011-488f7880-6335-11ea-90cb-1398b41ef3ab.png)

[2020-03-10 22:11] #62 closed

[2020-03-11 09:18] taozuhong commented on #58
the output log you could see here:
[Vls output log](https://github.com/dbkangaroo/kangaroo/pull/32/commits/faa434f480fe0b4251d5a46aa4703cd8f19e1fb2#diff-f34e1ebb25451dba114a255f1465b93d)

test case: open the simplest file:main.vala

[2020-03-11 14:48] taozuhong commented on #58
while edit and save file(tunnel.vala), error occurred like this:
Failed to save 'tunnel.vala': Unable to write file 'd:\Codelabs\GitHub\kangaroo\src\Illuminate\Supports\Network\tunnel.vala' (Unknown (FileSystemError): Error: UNKNOWN: unknown error, open 'd:\Codelabs\GitHub\kangaroo\src\Illuminate\Supports\Network\tunnel.vala')

[2020-03-18 00:01] Prince781 commented on #58
@taozuhong does that error occur in VLS or in VSCode?

[2020-03-18 04:00] Prince781 commented on #60
@gavr123456789 can you try out the branch `bug/resolve-dependencies-between-targets`?

[2020-03-18 04:07] Prince781 opened #70 "signatureHelp in signal disconnect() causes internal Vala assertion failure"
I know how to fix this, but this issue is to remind me. The problem is probably something related to `CodeContext.get()` being called within one of the Vala API calls we make when we're trying to get the arguments of the `disconnect()` member of a signal.

[2020-03-18 07:06] gavr123456789 commented on #54
Just for the record: VLS is currently running at 2 megabytes per autocomplete.

[2020-03-18 09:38] gavr123456789 commented on #60
@Prince781 Works nice!
![image](https://user-images.githubusercontent.com/30507409/76946194-b7ac3480-6914-11ea-9cae-fc67c04190c4.png)
VLS from Philip [doesnt work](https://github.com/philippejer/vala-language-server-alpha/issues/32) in same situation
(((But it does not leak, and uses 2 times less memory at start (112 vs 200 mb)(but ofc only leak important)))))

[2020-03-18 11:26] taozuhong commented on #58
errors throw by VLS

[2020-03-20 16:54] ChronosX88 opened #71 "Object members autocomplete doesn't work in certain contexts"
**Description**: When I try to get completion list of some symbol, after typing ., server doesn't respond with list of member methods/properties available to call/get.
**Vala version**: 0.48
**Version of this language server**: 0.0.2 (got it from AUR package)
**Logs**:
[code]

[2020-03-20 18:31] Prince781 commented on #71
what client is this on?

[2020-03-20 18:55] Prince781 commented on #71
Okay, I see the nature of your problem now. Our approach has been to modify the Vala parser to accommodate autocomplete functionality, rather than doing all of the work in the language server. Bear in mind that there are currently limitations with the Vala 0.48 parser that will prevent you from seeing member access completion in many contexts. For example, you won't see member access completion in

[2020-03-21 06:49] Prince781 commented on #54
@gavr123456789 I've tested it and I don't seem to notice any memory leaks. Can you try it now and let me know?

Note: one possible side-effect of this fix is that completion may be a bit slower now that we're properly destroying everything. That should be addressed in a separate issue.

[2020-03-21 07:19] #54 closed

[2020-03-21 08:55] ChronosX88 commented on #71
@Prince781 My client is VSCode

[2020-03-23 04:35] LecrisUT opened #73 "Homebrew + VS Code setup"
I am trying to get a `homebrew` + `VS Code` setup to work. So far I have managed to install the server. I am not sure how to run `vls-testclient` to confirm the installation was successful or not.

Running `VS Code` I get the following errors (trimmed down for readability, hope I didn't miss something important):

[code]

The cross-reference barely works, and it doesn't seem to reference different

[2020-03-24 03:00] Prince781 commented on #73
Right now you don't have to worry much about this. We will be using it later as we develop tests for VLS. If you're curious you can run `./vls-testclient --help` to find usage.

Sorry, could you explain this more? Are you saying that clicking "goto references" doesn't list all references in the project? Or something else?

[2020-03-24 03:17] LecrisUT commented on #73
Here's an example from `pdfpc` which I want to get it to work with:
**pdfpc.vala**
[code]
The class `PresentationController` is not recognized:
[code]
Even though there is a file: **presentation_controller.vala** with
[code]

Go to reference, peek, nothing works, since intellisense cannot pick it up. This is not limited to local definitions. For example `Gtk` is not recognized either, even though

[2020-03-24 03:47] Prince781 commented on #73
@LecrisUT  Ah! Is this your project: https://github.com/pdfpc/pdfpc ?

It looks like this project is CMake-based, which is a backend we intend to support in the future but don't currently. At first, we've chosen to support Meson, since the vast majority (perhaps >90%) of Vala projects use Meson, and the rest almost all use automake/autoconf. This in fact is the first Vala project I've seen that us

[2020-03-24 05:08] LecrisUT commented on #73
Ok. I've confirmed that it does work like that for local files. So I guess the `gtk` libraries are not found because they couldn't be resolved from `cmake`?

I have tested  [benwaffle/vala-starter](https://github.com/benwaffle/vala-starter). It does indeed take me to the appropriate links when using meson.

[2020-03-25 00:17] Prince781 commented on #73
@LecrisUT yes, without knowledge of compile arguments, the libraries you need will not be included.

[2020-03-25 00:33] Prince781 commented on #58
@taozuhong could you try it no with the `bug/failed-to-load-document-windows` branch?

[2020-03-25 06:11] Prince781 opened #78 "Organize all projects under a new group?"
Perhaps we could organize all of these projects under a group like `vala-tools`? That might make it easier to keep track of things.

- benwaffle/vala-language-server
- prince781/vala-vscode
- benwaffle/vls-aur
- benwaffle/vls-aur-git
- prince781/vls-ubuntu
- prince781/vls-fedora

[2020-03-27 22:24] #60 closed

[2020-03-30 01:36] Prince781 opened #79 "'deprecated' is deprecated, use CompletionItemTag"
https://github.com/benwaffle/vala-language-server/blob/46efbd6d431378ef7c0591df66729cd0770a4437/src/protocol.vala#L401

See
https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_completion

[2020-03-30 02:15] Prince781 commented on #58
@taozuhong please let me know if this issue is resolved with the latest commit in `master` so that I can close this issue

[2020-03-30 02:15] Prince781 commented on #56
this could possibly be related to #57

[2020-03-30 02:17] Prince781 commented on #47
I think we can close this issue since we do support Vala LTS now.

[2020-03-30 02:17] #47 closed

[2020-03-30 02:39] benwaffle opened #80 "crash on macOS 10.15.3"
**Describe the bug**
Is this enough info?
[code]

**Software**
OS and version (e.g. Ubuntu 20.04): macOS 10.15.3
Code editor (e.g. VSCode): VScode
Vala Language Server (e.g. git commit, or PPA/AUR version): 46efbd6d431378ef7c0591df66729cd0770a4437
Vala version (`valac --version`): 0.48.2

**To Reproduce**
Source code repo: https://github.com/benwaffle/vala-gen-json

Steps to reproduce the behavior

[2020-03-30 03:07] Prince781 commented on #80
@benwaffle what do you see if you just run vala-language-server from the terminal?

[2020-03-30 03:09] benwaffle commented on #80
It does not have this error

[2020-03-30 03:11] Prince781 commented on #80
@benwaffle is this the first error you see? Is it possible there's something wrong with your json-glib installation?

[2020-03-30 03:20] benwaffle commented on #80
possibly

[2020-03-30 03:21] benwaffle commented on #78
I've this project becomes production-ready I'd like it to go into https://github.com/vala-lang/

[2020-03-30 20:00] Prince781 commented on #80
@benwaffle I've tried VLS master on both Windows and Linux and it works. I don't have access to a Mac, so I think it would be easier for you to figure out what's going wrong, unless you discover an issue with code I've written.

So I'm assigning this issue back to you, for now.

[2020-03-31 13:26] taozuhong commented on #58
the path issue have solved, but initialization failed.

[code]

[2020-03-31 22:03] nahuelwexd opened #81 "VLS is not being closed automatically by GNOME Builder"
**Describe the bug**
If I open a project in GNOME Builder and then I close the project, VLS seems to not being closed. So if I open other project or the same, a new VLS instance is openned, resulting in 2 instances: one being used and the other just being there, consuming RAM.

**Software**
OS and version (e.g. Ubuntu 20.04): Fedora 32 (Workstation Edition)
Code editor (e.g. VSCode): GNOME Builder

[2020-03-31 23:59] Prince781 commented on #79
For newcomers, what is required to fix this issue:

1. add `enum CompletionItemTag` definition to `src/protocol.vala` based on how it's defined in https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_completion
2. add `public ArrayList<CompletionItemTag> tags { get; set;}` to `CompletionItem` and write logic to serialize it to JSON, since `Gee.Arr

[2020-04-01 13:44] Prince781 commented on #73
It looks like this is how we can introspect a CMake project in a similar fashion to what we do for Meson: https://cmake.org/cmake/help/v3.15/manual/cmake-file-api.7.html

[2020-04-02 03:48] Prince781 commented on #58
@taozuhong does running `meson build` in the project directory fail? VLS will fail if Meson fails, and Meson could fail if dependencies are missing, for example.

[2020-04-02 03:58] taozuhong commented on #58
meson.build file change rarely, and running successfully always. the latest output as follow:
[code]

[2020-04-02 04:22] Prince781 commented on #58
@taozuhong this is a very confusing bug. It looks like meson fails and both stdout and stderr are empty. wtf...

[2020-04-02 09:33] Prince781 commented on #58
@taozuhong Sorry, but would you be willing to send me a `.zip` of this project so I can test it out myself?

[2020-04-02 11:37] NevilleAntony98 opened #83 "System hangs completly when auto complete suggestions are requested"
**Describe the bug**
The system hangs completely while loading auto complete suggestion. The memory usage increased rapidly in the case of a simple hello world program.

**Software**
OS and version (e.g. Ubuntu 20.04): Arch linux
Code editor (e.g. VSCode): VSCode
Vala Language Server (e.g. git commit, or PPA/AUR version): 82a6e2b
Vala version (`valac --version`): 0.48.2

**To Reproduce**
Source co

[2020-04-02 12:43] taozuhong commented on #58
stdout / stderr didn't out put anything, just like that.

which files do you need? there are 250+ files in the project, do you need them all?

[2020-04-02 12:46] Prince781 commented on #83
I've determined this is a bug in upstream. Run `valac --keep-going hang.vala` on the following:

[code]

gives you an endless stream of:
[code]

[2020-04-02 12:51] Prince781 commented on #83
It turns out this case is very specific, and minor changes avoid the infinite loop. For example, if you have just `return;` instead of `return 0;`. However this still is a serious bug.

[2020-04-02 13:24] Prince781 commented on #58
@taozuhong yeah, if you could send the entire project in a zip file that would be great (or if there's a git repository I can clone from)

[2020-04-02 15:00] Prince781 commented on #83
I will fix this very very soon, but probably not until tomorrow or the day after as I'm busy with other stuff.

[2020-04-03 01:18] taozuhong commented on #58
Sorry, my boss not allow me to send entire project, but support to help you solve this problem ASAP.

I have found solution to reproduce this issue: __just open [Vala Language Server](https://github.com/benwaffle/vala-language-server) in vscode:__
![image](https://user-images.githubusercontent.com/13451009/78314230-e7ea0900-758b-11ea-843b-49d7df047b33.png)

[2020-04-03 01:22] taozuhong commented on #58
My develop environment:
OS: Windows 64bit 6.1.7601
MSYS2: 3.1.4 / Pacman v5.2.1 - libalpm v12.0.1,  installed at c:\msys
Bash: 4.4.23
GCC: 9.3.0
Vala: 0.48.2
VSCode:
-----------------------------------------------------------------------------
Version: 1.43.0 (user setup)
Commit: 78a4c91400152c0f27ba4d363eb56d2835f9903a
Date: 2020-03-09T19:47:57.235Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js:

[2020-04-03 01:46] Prince781 commented on #58
@taozuhong this is extremely strange, because I've successfully tested this on Windows in VSCode with Vala Language Server opened, and other projects (like Gitg). My only other guess is that there's something wrong with your Meson installation. Your picture shows `error code 2`, which means that there is something wrong with Meson (from `man meson`):

[code]

[2020-04-03 02:05] taozuhong commented on #58
did you using them on MSYS2 and bash?

my development environment is MSYS2, gcc/vala/vala-language-server.exe, the project locate on disk D:, and using them in the mintty.

meson install command:
pacman -S mingw-w64-x86_64-meson

[2020-04-03 02:10] Prince781 commented on #58
Yes, my setup is the same.

Curious: do you have `meson` in your Windows PATH (not the PATH for msys2)?

[2020-04-03 02:25] taozuhong commented on #58
yeah, done at the first time.

could you reproduce the issue(exit code 2) on your windows?

[2020-04-03 03:58] Prince781 commented on #58
@taozuhong no. It works for me on Windows.

[2020-04-03 14:14] Prince781 commented on #29
I don't know whether we should close this issue because of better Meson support in VLS now, and also because we are now working on a protocol for clients to send configuration to VLS.

[2020-04-03 14:18] benwaffle commented on #29
VLS doesn't interact at all with the meson plugin. Need to do research into what's possible

[2020-04-03 14:21] Prince781 commented on #29
But does it matter? Seems like the point is moot now that we support Meson in VLS.

[2020-04-03 14:25] benwaffle commented on #29
I was hoping we could at least share build dirs with the meson plugin, and maybe offload some of the work

[2020-04-03 14:31] Prince781 commented on #29
Well that's no longer an issue since Meson support has been improved. I think it's better to have this in VLS for now, since we can recognize Meson projects regardless of whatever client is being used.

I think this issue should be closed.

[2020-04-03 16:04] benwaffle commented on #29
This issue title isn't "meson support". I'm trying to see if we can make vscode closer to an IDE like Builder where different plugins talk to each other

[2020-04-04 00:03] Prince781 commented on #29
No I understand, but I still think that's out of scope for a language server. What is more in scope would be discussing a general way for any plugin to interact with VLS.

[2020-04-04 13:35] Prince781 commented on #83
Looks like a bug has been submitted upstream: https://gitlab.gnome.org/GNOME/vala/issues/961

[2020-04-06 23:50] Prince781 commented on #83
The bug has now been fixed in [Vala 0.48.3](https://gitlab.gnome.org/GNOME/vala/-/blob/0.48.3/NEWS#L17). You should no longer see this bug after updating your copy of Vala.

[2020-04-06 23:50] #83 closed

[2020-04-06 23:51] Prince781 commented on #80
@benwaffle status? Is this still an issue?

[2020-04-06 23:52] #80 closed

[2020-04-07 20:34] Prince781 commented on #50
It looks like we can ask users to install this LSP plugin, which takes care of 3/4ths of our problem:
- https://github.com/gtache/intellij-lsp

However, IntelliJ doesn't have a Vala syntax plugin yet.

[2020-04-08 00:04] EbonJaeger opened #86 "Support for C introspection from Vala code"
**Describe the feature(?)**
Not sure if this should be considered a feature or a bug, or even if it applies here, but I use this with a project that is mostly Vala but contains some C code that the Vala code links to. Currently, the language server doesn't take the C stuff into account, producing a lot of error popups in the editor because everything is assumed to be Vala.

Is there a way to make

[2020-04-08 01:24] Prince781 commented on #86
This should be possible given the recent project backend rewrite. VLS now runs some of the build tasks in the Meson project if they happen to generate files needed by some Vala target. I've avoided handling targets that compile C code because it was something I hadn't had the time to test at the moment. If you can give me a project where this applies, I'll have a good example to work with when tes

[2020-04-08 02:07] EbonJaeger commented on #86
Budgie Desktop. Shouldn't be hard to build; here are the things needed: https://github.com/solus-project/budgie-desktop/wiki/Building-Budgie-Desktop. One place in particular to look is in `src/panel/panel.vala`. Also, probably any of the applets.

[2020-04-11 11:39] Prince781 commented on #86
@EbonJaeger well, it involved a few hacks, but I managed to get this to work. Try out the `issue/support-c-introspection` branch and let me know what you think.

[2020-04-11 14:54] EbonJaeger commented on #86
Seems to work fine to me so far. No more errors anywhere from the C code. Thanks!

[2020-04-11 15:10] #86 closed

[2020-04-12 05:29] #29 closed

[2020-04-12 08:36] Prince781 opened #89 "Support coc.nvim"
https://github.com/neoclide/coc.nvim is another popular autocomplete plugin for Vim. We should support easy installation of VLS through `:CocInstall`.

[2020-04-12 12:03] Cogitri commented on #73
Wouldn't it be possible to just use compile_commands.json ? That should work for both meson and CMake (and possibly for future build systems too).

[2020-04-12 12:03] Cogitri commented on #64
FWIW it was added to Alpine Linux: https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/6696

[2020-04-12 12:06] Cogitri opened #90 "Error messages upon SIGTERM"
**Describe the bug**
When sending SIGTERM to v-l-s it throws errors when quitting:

[code]

**Software**
OS and version (e.g. Ubuntu 20.04): Alpine Linux Edge
Code editor (e.g. VSCode):
Vala Language Server (e.g. git commit, or PPA/AUR version): 0.48.0-alpha3
Vala version (`valac --version`): 0.48.3

**To Reproduce**

Steps to reproduce the behavior:
1. $ vala-language-server
2. $ killlall vala-la

[2020-04-12 14:49] Prince781 commented on #73
@Cogitri no, because compile_commands.json only includes compile commands, not things like `g-ir-scanner` or build tasks that convert `.in` files, or other things, which produce all sorts of files that may be fed into Vala targets.

[2020-04-12 14:51] Prince781 commented on #73
Basically, there's a lot of useful information left out in `compile_commands.json` files that you need to get more than just a basic project with a few files to work.

[2020-04-12 15:52] LinArcX opened #92 "CodeContext profile not set"
**Describe the bug**
I just can see error messages in neovim when i type something [wrong](https://gist.githubusercontent.com/LinArcX/c8e9bc4eec041116639293abb011a9b0/raw/6a0f961a6cec682c5fe163a3148e1cc1a1967c60/Screenshot%2520from%25202020-04-12%252018-05-56.png). None of normal features of a language server like code-completion , jump to definition, .. don't work.

**Software**
OS and version (e

[2020-04-12 16:01] Prince781 commented on #92
Wait, you built VLS with Vala 0.46? Also, did you try rebuilding after running git revert 877f6cf9d4dc38f85f981a3a902b8bd118fd38dd ?

[2020-04-12 16:13] LinArcX commented on #92
Sorry. My bad. Actually in void-repo it's [0.46.3](https://github.com/void-linux/void-packages/blob/73f8796d89b126ed096ea38dbd5d6ec3d31e496f/srcpkgs/vala/template#L4)
But i changed the version number(to 0.48.3) and compiled it again from source.

[2020-04-12 23:34] Prince781 commented on #92
@LinArcX can you try out the `bug/set-codecontext-profile` branch and see if it works for you now?

[2020-04-13 00:14] Prince781 commented on #92
@LinArcX also, if this is your project: https://github.com/LinArcX/wingpanel-disk-usage, then since it has no `meson.build` file, it cannot determine what packages you're using. So you should still see errors with `Gtk` being undefined.

[2020-04-13 05:09] LinArcX commented on #92
[Seems better.](https://gist.githubusercontent.com/LinArcX/c8e9bc4eec041116639293abb011a9b0/raw/4c0fa5f76f7210d0965273196f05ffab9cf99db4/Screenshot%2520from%25202020-04-13%252009-36-26.png)

[2020-04-13 05:21] Prince781 commented on #92
@LinArcX yup, it looks like it's working now.

Now, keep in mind that completion support is still a work in progress (https://github.com/benwaffle/vala-language-server/issues/71), and there's currently a branch (https://github.com/benwaffle/vala-language-server/pull/82) that should be merged soon to address it.

[2020-04-13 05:22] #92 closed

[2020-04-15 14:04] gavr123456789 opened #97 "[Feature request] Add support for inlay hints"
![image](https://user-images.githubusercontent.com/30507409/79346520-2643d880-7f3b-11ea-8951-d4879074b585.png)

[2020-04-15 14:12] #71 closed

[2020-04-15 14:19] Prince781 commented on #71
@ChronosX88 I've just merged a lot of improvements to completion that address this issue. Please try out VLS from the latest commit and file a new issue for more completion problems you encounter.

[2020-04-15 14:22] Prince781 commented on #56
It seems to be addressed now with improvements to completion.

[2020-04-15 14:22] #56 closed

[2020-04-15 15:59] Prince781 commented on #58
@taozuhong I've made some more improvements to the project backend. Could you try out the latest version of VLS and let me know where it stands on this issue?

[2020-04-16 02:08] Prince781 commented on #90
Fixed. Thanks for your report.

[2020-04-16 02:08] #90 closed

[2020-04-16 07:07] taozuhong commented on #58
Congratulations, the failure code -2 have resolved, but some minor questions exist:
[code]

question 1:
vls-WARNING: mesonproject.vala:204: MesonProject: meson < 0.50.0 not supported (version was '')
meson version is 0.53.2, meson.build setup the minimal version is 0.40, then output the message: meson < 0.50.0 not supported (version was '')

question 2:
d:\Codelabs\GitHub\kangaroo\build\compile_co

[2020-04-16 13:31] Prince781 commented on #58
@taozuhong I've pushed a change that might fix your problem. Please try out the branch `bug/failed-to-load-document-on-windows`

[2020-04-16 13:39] Prince781 commented on #58
@taozuhong Here are answers to your questions:

1. VLS runs `meson --version` to determine whether the `MesonProject` backend can be used. If your Meson version is too old, then we will fallback to reading the `compile_commands.json` file. What's strange about your output is that it's empty—this strongly suggests that something is wrong either with your installation of Meson or configuration of en

[2020-04-16 21:41] SolarLiner commented on #50
Having a slight experience with IntelliJ, the best course of action isn't to rely on a Language Server to provide intelligence; rather the plugin SDK uses its own AST to power many features of the IDE, which means having to write a parser as part of the plugin anyway.

[2020-04-16 22:10] gavr123456789 commented on #50
@SolarLiner  Is it still possible to use LibVala with this approach? Can such a plugin be written in a language other than Java/Kotlin?

[2020-04-16 22:16] SolarLiner commented on #50
Ultimately, the plug-in will be called by the IDE, and so needs to run in the same runtime environment. This means we're limited to languages that compile to the JVM only. And unless we can compile libvala to the JVM we need other ways to get libvala, maybe with bindings or, at worst, by porting the code to Java (which shouldn't be too hard considering Vala and Java are solar both in names and in

[2020-04-16 22:45] gavr123456789 commented on #50
@SolarLiner the second variant already implemented by larma.
https://twitter.com/gavr123456789/status/1249770093724274688

He writes the plugin from scratch(judging by the decompilation its on Kotlin), without using LibVala. This entails a lot of problems. For example, you need to implement error analysis, invent the vala syntax parser from scratch, and maintain it if new syntax rules appear in va

[2020-04-16 22:56] SolarLiner commented on #50
For example, you need to implement error analysis, invent the vala syntax parser from scratch, and maintain it if new syntax rules appear in vala. (For example, 0.50 will have an operator.? and the new with keyword).

This is what happens in basically every IDE though; for example the Rust plug-in for IntelliJ uses its own parser and macro expansion engine, separate from any Rust code.

Furthermor

[2020-04-16 22:58] gavr123456789 commented on #50
By this I meant that it is absolutely not worth doing the same thing that Larma has already done. I think it is worth considering only the option that uses LibVala here.

[2020-04-17 03:04] taozuhong commented on #58
switched to branch "bug/failed-to-load-document-on-windows" and enabled it, then output follow messages:
[code]

[2020-04-17 03:07] taozuhong commented on #58
1. remove many msg lines because they repeat again and again.
2. just open the main.vala file(5 lines vala code only, default open by VSCode view)

[2020-04-17 03:26] Prince781 commented on #58
@taozuhong so does it work? Can you send a screencast of your workflow?

The messsages only appear as things are updated, so there can be repeat messages.

[2020-04-17 03:58] taozuhong commented on #58
messages too much, you don't want to see them.

the memory increased to 430M now, I think it worked:  parse all files in project to extract meta data.
but iterate all files in project many times, it should be improved.

I thank the solution is:
start a thread parse all file in project at back-end at beginning ,  then parse the document  and update meta data while changing by user.

[2020-04-17 04:11] taozuhong commented on #58
![image](https://user-images.githubusercontent.com/13451009/79531270-67a3c780-80a4-11ea-8178-b52b0c210b53.png)

Memory usage increased from 30M+ to 1.6G now.

[2020-04-17 05:03] gavr123456789 commented on #58
@taozuhong just for u I tried to compile it on windows.
So everything looks good for me.
![изображение](https://user-images.githubusercontent.com/30507409/79533847-a411fc00-8081-11ea-8722-386572c08a05.png)
I can edit the sources of VLS itself without leak.
Vala 0.48.3
VLS from master
I remember that leak was fixed many time ago. (1-2 month? )

[2020-04-17 05:09] gavr123456789 commented on #58
![Peek 2020-04-17 08-05](https://user-images.githubusercontent.com/30507409/79534241-b5a7d380-8082-11ea-85f4-790054f081c7.gif)

[2020-04-17 05:22] Prince781 commented on #58
@taozuhong it looks like the subject of your original issue has finally been resolved. To keep these issues organized, I'm closing this and if you have any additional problems please file a new issue.

[2020-04-17 05:22] #58 closed

[2020-04-17 06:52] Prince781 commented on #70
It turns out this is an upstream bug: https://gitlab.gnome.org/GNOME/vala/-/merge_requests/125

[2020-04-17 08:38] Prince781 commented on #70
Fixed upstream @ https://github.com/GNOME/vala/commit/3f7b5187218dcf51a9ec182114fb104aef97289d

[2020-04-17 08:38] #70 closed

[2020-04-17 09:39] #64 closed

[2020-04-17 10:00] SolarLiner commented on #50
Why would we create a second IntelliJ extension though? Do they plan on keeping it closed source?

In which case it might be interesting to see how feasible bindings of libvala to Java might be, and how well it would fit in the context of writing the plug-in.

[2020-04-17 10:04] Prince781 commented on #50
@SolarLiner there's no need for a separate IntelliJ extension, except for one that can do syntax highlighting. VLS already works quite well with IntelliJ when the above LSP plugin is installed.

[2020-04-17 10:15] SolarLiner commented on #50
Syntax highlighting needs a parser - so we still need to either write the grammar in the plug-in, or use libvala bindings in Java to achieve this. Either way the plug-in will have its own AST.

And I'm of the opinion that using LSP in such a big IDE might not be the best long-term solution - but that's another topic.

[2020-04-17 16:29] benwaffle commented on #50
Can you explain this?

[2020-04-17 16:37] SolarLiner commented on #50
Some of the more advanced features of IDEs, things like code analysis and code generation, can't be done through LSPs, which are just a protocol to make code editors smarter. If you want a feature-complete plugin in IntelliJ (or Visual Studio, or any good IDE), you're going to need your own AST tree, symbol resolver, etc. within the plugin, as this will power those advanced features (many of them

[2020-04-18 00:32] Prince781 commented on #50
You are aware that VLS is basically another implementation of the Vala compiler, right? We're just reusing the code for the compiler to show you information about your project. So we have access to all of these things. The LSP is basically an abstraction on top of these compiler data structures. If what you're saying is that the IntelliJ plugin needs to have these raw data structures available, th

[2020-04-19 02:37] gavr123456789 commented on #71
![Peek 2020-04-19 05-36](https://user-images.githubusercontent.com/30507409/79678042-d6e1fe80-81ff-11ea-8c23-17c6f4b0aed8.gif)
Looks like there still some bugs.

[2020-04-19 03:17] gavr123456789 opened #99 "active parameter support in signature help"
**Software**
OS and version (e.g. Ubuntu 20.04):
Code editor : VSCode
Vala Language Server : 0.48 alpha
Vala version : 0.48.3

**To Reproduce**
Steps to reproduce the behavior:
1. Start write arguments for function

![изображение](https://user-images.githubusercontent.com/30507409/79678520-195a0a00-8205-11ea-80dc-f2b5323d9079.png)

[2020-04-19 06:29] Prince781 commented on #99
"Active parameter" requires pending changes made in the upstream parser. See the README about this issue.

[2020-04-19 06:31] Prince781 commented on #99
It's possible I could come up with a hack for this in the mean time, but it won't always be accurate.

[2020-04-22 18:13] #79 closed

[2020-04-22 18:15] Prince781 opened #101 "workspace/configuration and GNOME Builder"
Support `workspace/configuration` request from GNOME Builder.

[2020-04-23 19:39] Prince781 commented on #58
@taozuhong I believe you may see less messages with https://github.com/benwaffle/vala-language-server/commit/f988a50fccaf1afbff0f70efda1de907903e291f

[2020-04-24 09:14] taozuhong commented on #58
sorry, I'm foolish to get your idea. what do you mean?

[2020-04-24 09:39] Prince781 commented on #58
If you recompile VLS from the latest commit, you should see an improvement on that issue you mentioned.

[2020-04-24 10:10] taozuhong commented on #58
yeah, the re-scan project issue have solved, fighting...

[2020-04-25 18:35] Prince781 commented on #71
@gavr123456789 that bug appears to be happening because `stdout` is part of `Posix`, and it's not imported. We should expect to see it implicitly imported, though.

Hmm...

[2020-04-25 18:36] Prince781 commented on #71
@gavr123456789 actually, forget my last comment. This is indeed strange.

[2020-04-25 18:50] Prince781 commented on #71
@gavr123456789 this commit (https://github.com/benwaffle/vala-language-server/commit/f2ab4b4912ad91bc6939db46c0182c80103d196c) should fix that issue

[2020-04-26 15:22] Prince781 opened #103 "flatpak"
We should look at making a flatpak as an extension to the freedesktop Sdk, which should get VLS to work with Flatpaks for VSCode and other IDEs.

[2020-04-28 06:41] gavr123456789 opened #105 "The convert error is not displayed"
**Describe the bug**
The generic convert error is not displayed.

**Software**
OS and version (e.g. Ubuntu 20.04):
VSCode
Vala Language Server (e.g. git commit, or PPA/AUR version): workflow-improvements branch
Vala version (`valac --version`): 0.48.4

**To Reproduce**
[code]

[2020-04-28 06:43] gavr123456789 opened #106 "Auto-completion in string literals works"
**Describe the bug**
A clear and concise description of what the bug is.

**Software**
OS and version (e.g. Ubuntu 20.04): arch btw
VSCode
Vala Language Server (e.g. git commit, or PPA/AUR version): workflow-improvements branch
Vala version (valac --version): 0.48.4

**To Reproduce**
![изображение](https://user-images.githubusercontent.com/30507409/80455537-9fc4c900-8934-11ea-9048-8f8413c21593.png

[2020-04-28 06:47] gavr123456789 opened #107 "Auto-completion for arrays does not works"
**Describe the bug**
Auto-completion for arrays does not works

**Software**
OS and version (e.g. Ubuntu 20.04): arch
Code editor (e.g. VSCode): VSCode
Vala Language Server (e.g. git commit, or PPA/AUR version): workflow-improvements branch
Vala version (valac --version): 0.48.4

**To Reproduce**
[code]
![изображение](https://user-images.githubusercontent.com/30507409/80455877-3f825700-8935-11ea-9

[2020-04-28 07:57] gavr123456789 commented on #106
![изображение](https://user-images.githubusercontent.com/30507409/80462113-ee776080-893e-11ea-95bc-e76f98f68521.png)
wait, actually it can be good xdd.

[2020-04-28 11:15] Prince781 commented on #105
Without looking into this further yet, I'll say that currently there are a fair number of errors that the Vala compiler only shows when you run the code generator, so this may be an upstream problem.

[2020-04-28 12:11] Prince781 commented on #107
It looks like arrays required some special handling.

[2020-04-30 14:34] mna opened #108 "Difference vs GVls?"
Hello,

I'm setting up a Vala dev environment and found out there were 2 active options for language servers, this one and GVls (https://blogs.gnome.org/despinosa/2020/03/02/gvls-0-14-0-released/).

Is one significantly more complete than the other? What are the main differences, is one more suited for a particular editor, do they have different goals? Maybe they were just started in parallel with

[2020-04-30 17:07] Prince781 commented on #108
The quickest and shortest answer I can give is that VLS works, and GVls does not. If you don't believe me, try both of them out in any editor. :smirk:

The longer answer:
VLS was the first project of its kind, created three years ago. Then came GVls and some other prototypical language servers. After awhile, only this project and GVls remain. VLS went through a long period of inactivity before we

[2020-04-30 17:31] mna commented on #108
Okay, thanks :) I certainly do not want to start a flame war, but it's good to get a bit of context about this. I'll probably try Builder at some point but in general I prefer using vim, so I will try out this one for sure. In theory, if both implement the LSP, both should work with any editor, but then implementations matter of course.

[2020-04-30 17:31] #108 closed

[2020-04-30 19:15] Prince781 commented on #99
Implemented in 72beba0

[2020-04-30 19:15] #99 closed

[2020-04-30 19:22] gavr123456789 opened #111 "Configurable method completion mode"
This setting was present in VLS B. And it is also present in almost all other languages plugs.
I'm very used to it.
I also think this can be improved, if a function is called in an empty context(not as an argument to another function), you can also automatically put a semicolon after brackets. I think so does the rider from intellij. But of course this is probably quite difficult.
![изображение](h

[2020-05-02 22:03] gavr123456789 opened #113 "Argument analysis for interpeter line in Vala scripts"
I have a vala script file in my project that I use for compilation and build(because I don't know python) and I see errors in it because the server does not know that the script uses json(to search for target in meson-info)

I am not at all sure about the solution to this issue. This could also be solved by adding argument analysis for first #! line(the first line in the script: `#!/usr/bin/env -S

[2020-05-02 23:08] Prince781 commented on #113
VLS will only analyze files that are defined in `meson.build`. All other files will be analyzed separately as standalone files. So your script isn't being analyzed as part of your Meson project, but as something else separately. It makes sense that you're seeing errors because without a build file (currently either `meson.build` or `compile_commands.json`) there are no compile arguments.

So what

[2020-05-02 23:10] Prince781 commented on #106
Yeah, I can't decide if this should be a bug or not. It has its pros and cons. What do you think` @benwaffle ?

[2020-05-02 23:16] Prince781 opened #114 "threaded compilaton"
Introduce compilation on a separate thread to speed up completion

[2020-05-02 23:37] benwaffle commented on #106
It's a bug. Strings aren't expected to have correct symbols. If you need it, vscode handles autocompletion of words found in your file.

[2020-05-03 00:34] Prince781 commented on #106
Makes sense. It seems this would be expensive to avoid from the SymbolExtractor, since this would require searching (in the worst case) the entire document for quotation marks.

[2020-05-03 05:54] Prince781 opened #115 "resolve parameterized types in symbol display, completion, signature help, etc"
Two screenshots of this problem:

![hover](https://imgur.com/mg6Ve9z.png)
![completion](https://imgur.com/BjiBjYg.png)

As can be seen, the type parameters are ignored.

To fix this problem, this requires us to work with `Vala.DataType` instead of `Vala.Symbol`, and it probably involves using `Vala.SemanticAnalyzer.get_actual_type()`

[2020-05-03 06:02] Prince781 commented on #111
Right now, VLS doesn't complete function brackets at all because I'm aware that there are different preferences for having a space before the brackets for different projects. (Geary, for example, prefers no spaces.)

If I implement it, then I'd have to have a default behavior, and that would mean that for editors that don't have a VLS plugin (vim, IntelliJ, and anything else not VSCode or GNOME Bu

[2020-05-03 16:35] Prince781 commented on #113
@gavr123456789 is this fixed now?

[2020-05-04 06:45] gavr123456789 commented on #113
Yes

[2020-05-04 20:24] Prince781 commented on #113
@gavr123456789 in the future, this issue shouldn't be closed until its corresponding fix has been merged (in this case, #110)

[2020-05-06 00:53] Prince781 commented on #115
Fixed in #110

![image1](https://i.imgur.com/LPMnsmx.png)
![image2](https://i.imgur.com/JFrDdHB.png)

[2020-05-06 01:44] #57 closed

[2020-05-06 01:44] #107 closed

[2020-05-06 01:44] #113 closed

[2020-05-06 01:44] #115 closed

[2020-05-06 09:11] gavr123456789 commented on #111
Why? Just don't add brackets automatically in the default settings, that's all. The users will choose which option suits them, with or without a space. But it just disabled by default.

[2020-05-12 02:11] gavr123456789 commented on #106
But I think it still should work in @ strings
![image](https://user-images.githubusercontent.com/30507409/81630739-0820a980-940f-11ea-8f9b-07c227e6a2e2.png)

[2020-05-12 14:32] gavr123456789 commented on #111
![image](https://user-images.githubusercontent.com/30507409/81704413-6af95b80-9476-11ea-975f-5451cafaad10.png)
Screen from VLS B.
P.S. Log level and path also good ideas.

[2020-05-15 22:42] AnderRasoVazquez opened #116 "Can't install on elementary OS"
**Describe the bug**
It needs a greater version of libvala that we have (0.40).

Error message in spanish:
`vala-language-server : Depende: libvala-0.48-0 (>= 0.47.3) pero no es instalable`

**Software**
elementary OS 5.1.4 Hera

**To Reproduce**
Try to install it following Readme.md instructions.

[code]

[2020-05-16 00:40] Prince781 commented on #116
You need to install the Vala Next PPA: https://launchpad.net/~vala-team/+archive/ubuntu/next/+packages

[code]

We should probably add this to the README.

[2020-05-18 20:58] gavr123456789 opened #117 "VLS does not see Meson if it is not in the root directory"
**Describe the bug**
I was writing a guide to meson, and I decided to give examples in three languages, so I came across this. The screenshot shows the same folder open in different ways.

**Software**
OS and version (e.g. Ubuntu 20.04): Arch
Code editor (e.g. VSCode): VSCode
Vala Language Server (e.g. git commit, or PPA/AUR version): Master
Vala version (`valac --version`): 0.46.5

![image](https

[2020-05-23 09:51] Prince781 commented on #116
So, can I close this? I take it you've solved your problem?

[2020-05-23 10:05] AnderRasoVazquez commented on #116
Yes.

[2020-05-23 12:56] Prince781 commented on #116
Glad to hear. Please don't hesitate to ask if you have new problems, but for questions please use the Gitter room.

[2020-05-23 12:56] #116 closed

[2020-05-28 06:16] Prince781 opened #118 "enable Vala non-null analysis for codebase"
We should consider enabling the `--enable-experimental-non-null` flag when compiling.

[2020-05-29 10:37] Baloneo opened #119 "meson.build:12:2: ERROR: Problem encountered: libvala needs to be 0.48 or above"
**Describe the bug**
meson.build:12:2: ERROR: Problem encountered: libvala needs to be 0.48 or above

**Software**
OS and version (e.g. Ubuntu 20.04): linux mint 19.3
Code editor (e.g. VSCode): VSCode
Vala Language Server (e.g. git commit, or PPA/AUR version):
Vala version (`valac --version`): Vala 0.40.19

**To Reproduce**
Source code repo:

Steps to reproduce the behavior:
1. `sudo dpkg -i libva

[2020-05-29 14:06] Prince781 commented on #119
VLS only works with Vala 0.48 and higher. You can install this version of Vala by adding the PPA `vala-team/next`

[2020-05-29 14:08] Prince781 commented on #119
See https://github.com/benwaffle/vala-language-server/issues/116#issuecomment-629562114

[2020-05-29 14:08] #119 closed

[2020-05-30 01:03] Baloneo commented on #119
thank you

[2020-06-02 05:06] gavr123456789 opened #120 "Blinking spawn process on Windows"
**Describe the bug**
Each update of the project symbols causes the opening and closing processes to blink. They take over the focus that interrupts autocomplete.
I think its symbol extractor.

**Software**
OS and version (e.g. Ubuntu 20.04): Windows
Code editor (e.g. VSCode): VSCode
Vala Language Server (e.g. git commit, or PPA/AUR version): 0.48
Vala version (`valac --version`): 0.48.6

https://y

[2020-06-02 06:13] Prince781 commented on #120
I don't see how this has anything to do with VLS.

[2020-06-02 06:23] gavr123456789 commented on #120
@taozuhong do you have something similar?

[2020-06-02 07:12] taozuhong commented on #120
yeah, me too. it's serious for the user.
Step 1. Enable extension, restart vscode, open project, cmd.exe window splashed twice
Step 2. Open a vala file, cmd.exe window splashed twice again.
Step 3. Input word chars, like: m_tab_work_books, while input the underline(_), wait about one second, cmd.exe window splashed twice again; repeat this as follows.
It will disappear while input chars continuall

[2020-06-02 07:35] gavr123456789 commented on #120
I think here it is
https://github.com/benwaffle/vala-language-server/blob/bd64b248fd94fc8ed1dd6a6d29f2e8ffc4c20bda/src/projects/mesonproject.vala#L148

[2020-06-02 07:38] Prince781 commented on #120
Hmm..there does seem to be a problem with path resolution under Windows, caused by https://github.com/benwaffle/vala-language-server/commit/0aa20ba951db6a9ce246610eafaea2cb2dfaa341

[2020-06-02 07:41] Prince781 commented on #120
When I said VLS doesn't spawn a process for completion, that was correct. It does however spawn processes when initially setting up the Meson project. Perhaps issues with path resolution on Windows are causing the Meson project setup to be run multiple times.

[2020-06-02 09:25] Prince781 commented on #120
@gavr123456789 @taozuhong tell me if https://github.com/benwaffle/vala-language-server/pull/121 fixes your issue (checkout the branch `bug/windows-path-resolution`)

[2020-06-02 10:28] taozuhong commented on #120
not yet, same as master version.

[2020-06-02 10:41] gavr123456789 commented on #120
This is fun
[code]

[2020-06-02 10:52] Prince781 commented on #120
Okay, so this issue isn't fixed, but is the issue with dependencies fixed?

[2020-06-02 12:23] Prince781 commented on #120
It seems the issues with dependencies on Windows are also fixed by the commit. However, I wasn't abl to reproduce the stuttering/flickering.

![see here](https://i.imgur.com/Omwifwj.gif)

[2020-06-02 14:41] Prince781 opened #122 "make completion aware of "with" scopes"
Vala 0.50 adds the `with` keyword, which allows you to implicitly access a member of an expression. See [this commit](https://gitlab.gnome.org/GNOME/vala/-/commit/35f72f3ecdf0d61d0e67cd4f72c29fee2c3c9a55).

[2020-06-03 02:47] taozuhong commented on #120
this is the screen recorder of vscode under MSYS2
[vscode.zip](https://github.com/benwaffle/vala-language-server/files/4720751/vscode.zip)

[2020-06-03 10:29] Prince781 commented on #120
https://imgur.com/03oj3bx.png

@taozuhong, from this frame, it looks like what's being run is `pkg-config`. As VLS does not run `pkg-config` directly, this is done by the Vala compiler when checking for deprecated symbols.

Just curious, are you able to downgrade to Vala 0.48.3 on your MinGW installation? If so, then try running VLS with your project.

[2020-06-06 18:02] Prince781 commented on #120
@taozuhong @gavr123456789 Just to be clear, I think the behavior you're seeing is a result of Vala doing the right thing now, after a bug fix that I made for a separate issue. It seems that this might also be a new issue that was exposed. A temporary workaround right now might be to add `--disable-since-check` as a flag to all of the targets in your build system like below (for Meson):

[code]

[2020-06-09 23:26] Prince781 commented on #120
@taozuhong @gavr123456789 you can try downgrading to a Vala version before 0.48.3 by looking in `/var/cache/pacman/pkg`, where previously-installed packages are cached.

[2020-06-10 06:49] taozuhong commented on #120
Exactly right, the Vala 0.48.3 is silent, and just splash the cmd.exe window once(not yet add the flag you mentioned).

[2020-06-11 04:24] soiamsoNG opened #124 "Necessary vapi should gen by gnome.generate_vapi(), but target be removed"
**Describe the bug**
Necessary  vapi  should gen by gnome.generate_vapi(), which depended by other target, compilation fail and syntax completion not work.

fail after below point
`project.vala:142: Project: target #0 (gupnp-1.0.vapi@cus) will be removed`

**Software**
OS and version : Fedora 32
Code editor: VSCode
Vala Language Server : 0.48-1 copr
Vala version : 0.48.6

**To Reproduce**

I want

[2020-06-12 15:30] aeldemery opened #126 "How to include local vapi file to the server search path?"
I have compiled vala from source with the newest gtk4 vapi. The server don't auto-complete the new symbols from the new installation, only from outdated system package installation file.
Is there a possibility to edit search paths for the server?

[2020-06-12 23:57] Prince781 commented on #126
I think that would depend on your build configuration, right?

[2020-06-12 23:58] Prince781 commented on #124
Can you try this with VLS master and see if you have the same problem?

[2020-06-13 01:20] soiamsoNG commented on #124
Have the same problem, below is the debug info

[code]

[2020-06-13 04:18] aeldemery commented on #126
I use the normal meson `dependency ('gtk4')`
even tried to put the newest vapi in a local directory and used
`add_project_arguments(['--vapidir', vapi_dir], language: 'vala')`
but that didn't work.
in general is there a config file that allow one to tweak the internals of the server like for example search paths?

[2020-06-13 20:02] Prince781 commented on #126
Did you install this Vala into a location like `/usr/local`?

[2020-06-13 20:52] aeldemery commented on #126
That's right. /usr/local is the installation place.

[2020-06-13 21:23] Prince781 commented on #126
And is Vala Language Server compiled and linked against the Vala in `/usr/local`?

[2020-06-14 08:46] #124 closed

[2020-06-14 13:42] aeldemery commented on #126
Solved. I've rebuild the server against my new Vala installation and now all the new symbols are visible. Thanks :-)

[2020-06-14 13:42] #126 closed

[2020-06-14 13:45] Prince781 commented on #126
Yes. Remember that VLS is tightly coupled to the Vala library it was compiled with.

[2020-06-17 09:36] aeldemery opened #129 "Build failure with Vala master 0.50"
Compiling the language server against Vala master branch produces many errors

[code]

[2020-06-17 09:41] Prince781 commented on #129
Your example shows you are not compiling the source code of the Vala Language Server, but of philippjer's fork.

[2020-06-17 09:53] aeldemery commented on #129
You are right! I've made a mistake

[2020-06-17 09:53] #129 closed

[2020-06-20 23:16] mdegans opened #130 "Glib Version target compiler error"
**Describe the bug**

Language server fails to build with valac 0.48.6 (built from source)

[code]
more:
[code]

**Software**
Ubuntu 18.04 aarch64 (Linux for Tegra)

**To Reproduce**
[code]

Steps to reproduce the behavior:
1. run above script run steps manually

[2020-06-20 23:40] Prince781 commented on #130
@mdegans what happens if you rebuild without `--target-glib=auto` from `meson.build`?

https://github.com/benwaffle/vala-language-server/blob/master/meson.build#L36

[2020-06-21 20:06] mdegans commented on #130
@Prince781:

Thanks for the help. That gets further, but it looks like there is a separate issue:
[code]

[2020-06-21 20:40] Prince781 commented on #130
@mdegans what is your version of `libvala-0.48-dev`? On my system `libvala-0.48.vapi` has `protected` instead of `public` for these constructor methods.

[2020-06-21 22:14] mdegans commented on #130
Thanks for the quick response and the help @Prince781 .

Re: ppas, do those have aarch64 support?

The reason I am building from source is because of that, although I would prefer not to use third party ppas in any case, and I do not mind building from source.

Re: libvala, the gitlab tag I am building from is: `0.48.6` Likewise this is what pkg-config reports. There doesn't seem to be a pkg-confi

[2020-06-21 22:22] Prince781 commented on #130
Ah, that's right. You're using a non-standard Ubuntu distribution I think. So the answer is probably no.

I think the simplest option here would be to disable `--fatal-warnings` in VLS here, since the warnings you've shown are innocuous. To answer your question about tags, you want to have `libgee 0.20.3`. This would mean you would do `git checkout 0.20.3` after cloning libgee, if you want to buil

[2020-06-21 23:05] mdegans commented on #130
It builds perfectly with fatal warnings off @Prince781 . I suppose there is still no way to disable a single warning in Vala?

Thanks for your help, and for the fantastic work on the server itself!

[2020-06-21 23:05] #130 closed

[2020-06-22 10:15] taozuhong opened #131 "Rename folder builddir to .build"
Vls: latest version
Vala: 0.48.6
VSCode: 1.45

found a new folder: builddir, it created by vls,
I think it should be .build, and add it into .gitignore;

[2020-06-22 16:36] Prince781 commented on #131
It's not created by VLS, it's created by the VSCode Meson plugin.

[2020-06-22 17:52] #131 closed

[2020-06-23 01:36] taozuhong commented on #131
it exists while starting Vls + Vala vscode, I think one of them must be the creator.

[2020-06-23 06:06] Prince781 commented on #131
@taozuhong try uninstalling the Meson plugin for VSCode, deleting the builddir directory, and starting again.

[2020-06-23 06:30] taozuhong commented on #131
OK, I'll try.

[2020-06-28 21:27] Prince781 commented on #106
One way to solve this is to create regions of a text document that aren't to have completions in them. These regions would be updated every time the document is compiled.

[2020-06-29 03:02] taozuhong commented on #120
the experience of VSCode on windows is back to bad again:
crashed, window flash, responsible slowly

I have to disable it. do you try it on windows?

[2020-06-29 03:24] Prince781 commented on #120
@taozuhong I test VLS on Linux and Windows, but I develop most of the time on Linux. I make sure to periodically test VLS on Windows after certain changes that I think might cause problems.

[2020-06-29 03:32] Prince781 commented on #120
@taozuhong can you post the output of VLS?

[2020-06-29 03:38] Prince781 commented on #120
@taozuhong There shouldn't be any crashes in VLS. I just test-ran the master branch with updated MSYS packages and there are no crashes. But there are issues with spawning Meson and of course there's still the issue with console windows being created when spawning subprocesses.

[2020-06-29 07:32] taozuhong commented on #120
pls keep up making a great experience.

[2020-06-30 12:24] Cogitri commented on #103
Maybe it'd be easier to just have users install vala-language-server via their distro and then have something like this where the VSCode flatpak has access:

[code]

I have this stored in `$HOME/.bin/vscode/vala-language-server` and then set the VSCode Vala Plugin to start vls from that executable and that works just as expected, but is able to access the host's VAPIs.

[2020-07-01 12:09] Prince781 commented on #103
@Cogitri did you mean to say, "but is *not* able to access the host's VAPIs?"

[2020-07-01 12:17] Cogitri commented on #103
No, it's running on the host, so it uses the host's VAPIs, available packages etc. IMHO this is favourable over having vls use the Flatpak environment though, since it's pretty hard to install additonal packages in a flatpak compared to installing them via the user's distro package manager.

[2020-07-02 07:36] Cogitri opened #133 "VLS suggest "throw" instead of "throws" in function signatures"
**Describe the bug**
When editing the function signature to add a new error that can be thrown VLS suggests `throw` instead of `throws`:

![Screenshot from 2020-07-02 09-33-03](https://user-images.githubusercontent.com/8766773/86330015-53a14800-bc47-11ea-9673-6368f8fd183c.png)

This is something rather minor, but I tend to fall for it every time, so I figured it'd be best to report it :)

**Softwa

[2020-07-04 08:28] EpsilonKu opened #134 "Ubuntu PPA: build packages for Focal and Eoan"
**Describe the bug**
In ppa:prince781/vala-language-server there is no installation for Ubuntu 18.10, 19.04, 19.10, 20.04.

[2020-07-04 09:39] Prince781 commented on #134
Are you on Ubuntu 20.04? I just added a package for it. You should be able to install VLS now.

[2020-07-04 10:54] Prince781 commented on #133
This is basically an issue with context-sensitive completion, which is an area that VLS is in its infancy in.

[2020-07-04 15:00] Cogitri opened #135 "VLS crashing if user attempts to overload constructors (without using named constructors)"
**Describe the bug**
When a user tries to overload the constructor of a struct/class VLS crashes with the following error message:

[code]

Here's the backtrace:

[code]

**Software**
OS and version (e.g. Ubuntu 20.04): Alpine Linux 3.12
Code editor (e.g. VSCode): VSCode 1.46.1
Vala Language Server (e.g. git commit, or PPA/AUR version): Tested with 0.48.0 and latest git (1307a92f762c381d8a7b0183f0

[2020-07-04 17:32] EpsilonKu commented on #134
Well, it works fine. Checked with Kubuntu 20.04 on Vim (coc.nvim).

[2020-07-04 20:54] Prince781 commented on #135
Yeah, this behavior is done on purpose in VLS:

https://github.com/benwaffle/vala-language-server/blob/1307a92f762c381d8a7b0183f084bb77cf726fa0/src/codehelp/codehelp.vala#L212

I think I should've made this warning instead of an error. This seems like an issue with the compiler. A symbol should always have a parent symbol, unless it's the root node. It seems Vala creates this issue when you try to

[2020-07-04 20:56] Prince781 commented on #134
@EpsilonKu great to hear. I guess I can close this issue now?

[2020-07-05 04:20] #134 closed

[2020-07-09 12:37] gavr123456789 opened #136 "Autosuggestion to generate the clone function"
![image](https://user-images.githubusercontent.com/30507409/87040904-12d2a180-c1fa-11ea-893a-50623526f1c4.png)

There no deep clones in Vala https://mail.gnome.org/archives/vala-list/2009-November/msg00192.html

[2020-07-09 12:39] Prince781 commented on #136
This wouldn't be hard to implement, but it would have to go along with the code actions / snippets improvements for VLS 0.48.1

[2020-07-11 10:44] gavr123456789 commented on #120
So, we have to start doing something. I'm not sure if I need to create an issue in Vala or GLib. This is a very serious problem, VLS is not usable under windows as long as it exists.

[2020-07-11 11:28] Prince781 commented on #120
@gavr123456789 Agreed. After testing this with other programs that use GLib I've concluded this is a problem with how GLib spawns processes on Windows. The ultimate fix lies there, but perhaps if it takes too long to be fixed I could come up with a temporary hack in VLS that would minimize the problem (but not make it go away completely).

[2020-07-12 04:44] Prince781 commented on #120
@gavr123456789 I have an idea of how to fix this in GLib. Right now I'm finishing up symbol rename support with some edge-cases. Give me a few days to start working on this issue.

[2020-07-15 21:53] gavr123456789 opened #138 "Suggestions for implementing interface methods only appear at the beginning."
Suggestions for implementing interface methods only appear at the beginning of class body.

GIF:
![Peek 2020-07-16 00-52](https://user-images.githubusercontent.com/30507409/87601913-b3472b00-c6fe-11ea-9765-ba57407a0bb7.gif)

[2020-07-17 19:11] Cogitri opened #139 "VLS's suggestion for internal dependency break with meson 0.55.0"
**Describe the bug**
After upgrading from meson 0.54.3 to meson 0.55.0, VLS stopped showing suggestions & finding symbols from an internal dependency of mine. My setup looks like this:
                                                -> final executable (with main)
static library (contains everything but main()) |
                                                -> various test executables

I define

[2020-07-18 09:13] Prince781 commented on #138
This is an issue that comes up because of the way the Vala compiler establishes the source reference for a class declaration's `Vala.Scope` (it only covers the SRs of the declared members, not necessarily up to the closing brace). I think I asked @ricotz about it and I forgot the reason why he was against changing the behavior.

There's also a related issue here: VLS's rapid completion happens bef

[2020-07-18 09:19] Prince781 commented on #139
Interesting. I haven't taken a look at this at all yet, but just from looking at your diff'ed output it looks like Meson 0.55.0 possibly changed the IDs used for build targets.

[2020-07-18 09:35] gavr123456789 opened #140 "The function signature hint does not disappear"
**Describe the bug**
As well as a hint of the signature does not appear again.

![Peek 2020-07-18 12-26](https://user-images.githubusercontent.com/30507409/87849517-f3223400-c8f1-11ea-9564-8bfc0c79b90c.gif)

**Expected behaviour**
The hint disappears when the cursor exits the function's brackets.
The hint appears again when you press space + ctrl inside the brackets.

[2020-07-18 09:40] Prince781 commented on #140
This GIF actually shows two problems:

1. signature help remains even after leaving the argument list
2. having two parameters where one's name contains the other messes up the calculation of the current parameter

[2020-07-19 10:25] gavr123456789 commented on #111
After 3 weeks of working with C# in Rider and returning to Vala, I realized how much this feature is missing. My fingers are literally used to automatically appearing brackets with ; after auto-completion at the level of muscle memory.

Now I think that the user should be given the following 2 types of options:
1) Method completion mode:
nothing;
with a space;
without a space;

2) Add semicolon:
Y

[2020-07-19 10:49] gavr123456789 commented on #111
How I think it needs to look
![Peek 2020-07-19 13-47](https://user-images.githubusercontent.com/30507409/87873023-93498d00-c9c6-11ea-863b-c06686065256.gif)

[2020-07-19 15:54] Prince781 commented on #111
The problem here is: what happens if you want to write a chain of invocations? For example:

[code]

or more likely:
[code]

Then each time you complete a method you would have to delete a semicolon. There are two cases we have to consider:

1. The completion occurs within a statement block.
    1. For methods that return `void`, we can safely place a semicolon at the end.
    2. For methods that

[2020-07-19 16:02] benwaffle commented on #111
Once you type `sb.append(`, it autocompletes to `sb.append(|);`, where `|` is your cursor. Then, once you type `"foo")`, your cursor is right before the semicolon, and you can hit `enter` to chain more methods, while keeping the semicolon there.

[2020-07-19 16:32] Prince781 commented on #111
@benwaffle doing things that way would be simpler. One small problem: VSCode and other editors would treat `;` the same way they do `)`, allowing you to type the exact character without duplicating it. Otherwise, when finished with a statement, the user has to use the arrow keys to get past the semicolon and begin typing a new statement. What does IntelliJ IDEA do?

[2020-07-19 16:33] benwaffle commented on #111
@Prince781 The flow i described never requires the user to type a `;`

[2020-07-19 16:33] benwaffle commented on #111
but i think you have the same problem with gavr's suggestion / the C# behavior

[2020-07-19 20:41] gavr123456789 commented on #111
almost nothing, but I like @benwaffle `sb.append("foo")|;` idea.
![Peek 2020-07-19 23-39](https://user-images.githubusercontent.com/30507409/87884749-42af4f80-ca19-11ea-964b-ec7bed3fee32.gif)

[2020-07-19 22:32] gavr123456789 commented on #111
I also can't find cases where the semicolon should not be automatically placed after the keywords `continue` and `break`.

[2020-07-28 13:13] #135 closed

[2020-08-06 13:17] aeldemery opened #142 "Can't build anymore with vala master"
**Describe the bug**
Building against vala master branch gives a dependency error.

**Software**
Vala version (`valac --version`): Vala 0.48.2.135-68db

**To Reproduce**
[code]

[2020-08-06 13:48] Prince781 commented on #142
@aeldemery consider trying again after pulling from Vala master

[2020-08-06 13:49] aeldemery commented on #142
solved the issue with the following command
[code]
Thanks

[2020-08-06 13:49] #142 closed

[2020-08-16 07:23] aggalex opened #143 "Language server crashes repeatedly on WSL"
**Describe the bug**
The server crashes on startup with an assertion failure:

    (process:489): vala-CRITICAL **: 10:15:19.230: vala_source_reference_construct: assertion '_file != NULL' failed

**Software**
OS and version (e.g. Ubuntu 20.04): Ubuntu 20.04 on WSL
Code editor (e.g. VSCode): VSCode
Vala Language Server (e.g. git commit, or PPA/AUR version): PPA
Vala version (`valac --version`): Va

[2020-08-16 23:56] Prince781 commented on #143
Can you send a full log? It would help.

[2020-08-18 00:10] Prince781 commented on #139
@Cogitri Can you diff the output of `build/meson-info/intro-targets.json` from Meson 0.54 to Meson 0.55?

[2020-08-23 01:50] yeganaaa opened #144 "Compile error with vala 0.49 + jsonrpc-glib-1.0.vapi"
Hello
I'm download the latest vala from official gitlab repository and compile it and installed on my system,
vala compiler version is 0.49,
but error occurred while compiling the language server (building with ninja phase),
there is the error message:

[code]

I'm very sorry, I know the vala language server uses jsonrpc-glib library and this is not vala-language-server issue,
but I'm wondering th

[2020-08-26 15:10] esodan opened #145 "Add license information per file"
Issue #9 has not been fixed, license should be added per file, giving credits to the authors, including the ones fixing issues, one of the most used legend is:

[code]

[2020-08-30 01:35] Prince781 commented on #144
@yeganaaa Vala 0.49 is unstable, while jsonrpc-glib is stable since you installed it from your distro's repository. It's possible this may be a bug. I suggest you install Vala 0.48 (stable). If you're on Ubuntu or Elementary, you can run these commands:

[code]

And then you should be good to go.

[2020-09-07 15:49] gavr123456789 opened #146 "Renaming doesn't work for lambda arguments"
**Describe the bug**
Renaming doesn't work for lambda arguments

**Software**
OS and version (e.g. Ubuntu 20.04): arch
Code editor (e.g. VSCode): VSCode
Vala Language Server (e.g. git commit, or PPA/AUR version): master
Vala version (`valac --version`): 0.48.9

Steps to reproduce the behavior:
![Peek 2020-09-07 18-49](https://user-images.githubusercontent.com/30507409/92403764-d6a8b800-f13a-11ea-9

[2020-09-08 07:57] Prince781 commented on #144
@yeganaaa Any update on this issue? Did my advice help you?

If there is no update, I will close this issue soon.

[2020-09-12 09:15] aeldemery opened #147 "completion does not suggest "class" methods"
some of the symbols in gtk4 are not visible for the server, for example:
[code]
Thanks

[2020-09-17 13:17] Prince781 commented on #143
Just curious, does [`wip/win32-process-creation-workaround`](https://github.com/benwaffle/vala-language-server/tree/wip/win32-process-creation-workaround) resolve this issue?

[2020-09-17 13:41] Prince781 commented on #144
I'm closing this issue as there has been no update. Feel free to reopen it.

[2020-09-17 13:41] #144 closed

[2020-09-18 08:12] Prince781 commented on #139
@Cogitri please try out the fix and verify things work on your end.

[2020-09-18 12:50] gavr123456789 opened #149 "Internal dependencies not resolved in Meson 0.55"
**Describe the bug**
VLS doesn't see symbols from shared lib.

**Software**
OS and version (e.g. Ubuntu 20.04): Arch
Code editor (e.g. VSCode): VSCode
Vala Language Server (e.g. git commit, or PPA/AUR version): AUR
Vala version (`valac --version`): 0.48.10

**To Reproduce**
Source code repo: https://github.com/mesonbuild/meson/tree/master/test%20cases/vala/7%20shared%20library

![image](https://us

[2020-09-18 13:13] Prince781 commented on #149
See if https://github.com/benwaffle/vala-language-server/issues/139 is related

[2020-09-18 14:07] Prince781 commented on #149
So I take it that it is? If so, I'm closing this as it's a duplicate of #139

[2020-09-18 14:09] gavr123456789 commented on #149
Yea

[2020-09-18 14:51] Cogitri commented on #139
Hm, unfortunately it seems like it's not fixed with the latest commit from the `139-vls-internal-deps` branch (639bdd964fb0503a2f5093382c2b4b73b9cb5ca3). It still doesn't find the symbols of my own project:

![Screenshot from 2020-09-18 16-50-29](https://user-images.githubusercontent.com/8766773/93611908-299e2d00-f9cf-11ea-9eb4-2aa75956b715.png)

The project itself compiles fine though. Tested wit

[2020-09-18 15:00] Prince781 commented on #139
Strange. I managed to get it working on my end.
![screenshot](https://i.imgur.com/NJes5YV.png)

@Cogitri can you restart VLS with debug mode enabled (see below) and paste the output here?
![debug-mode-enabled](https://i.imgur.com/57YhdsU.png)

[2020-09-18 15:29] Cogitri commented on #139
Ah whoops, seems like it does work, I forgot to rebuild vala-lint against the new Vala version (0.50), it still pulled in vala 0.48 for me and I couldn't upgrade to vls built against vala 0.50 locally :)

Works after I actually upgraded to the new version, thanks for working on this! :)

[2020-09-18 15:30] Prince781 commented on #139
@Cogitri awesome. Good to hear.

[2020-09-18 15:31] #139 closed

[2020-09-18 15:35] Prince781 commented on #147
I need this information:

1. What version of Vala are you using?
2. How are you using VLS? Did you get it prebuilt from the Ubuntu/Fedora/etc repositories, or did you build it yourself?
3. Are these symbols actually present in `gtk4.vapi`?
4. What is the context you're trying to use these symbols in? Can you provide a code example where you would expect these completion suggestions?

[2020-09-18 16:13] aeldemery commented on #147
Thank you for taking the time to look into this issue.

[code]

I've build it from latest git sources.

yes.
for example
[code]

Yes. In this [repo](https://github.com/aeldemery/gtk4_layoutmanager_transformation/blob/42220ca3b34c8f39135face4c2b5758fc63601f7/src/GlobeWidget.vala#L14) I came across those symbols. Please note that the demo in that repo although compiles but don't work yet as it is st

[2020-09-20 13:57] Prince781 commented on #149
Turns out that even though this pertains to the same underlying issue (Meson 0.55 changed build dir names), it is not a duplicate because this is another case you've found that I have to fix.

[2020-09-20 14:59] #149 closed

[2020-09-24 13:48] nahuelwexd commented on #103
Fedora Silverblue user here. Tried to create a Flatpak extension for VS Code specifically time ago, but failed building libgee. Then I created a standalone Flatpak package with the `org.gnome.Sdk` and it worked (with a few modifications on the VS Code extension), but it can't be expanded with more libraries and VLS currently lacks support for meson subprojects, so not really useful

I think I good

[2020-09-24 20:35] Prince781 commented on #146
@gavr123456789 try out the [`issues/146/renaming-doesnt-work-for-lambda-args`](https://github.com/benwaffle/vala-language-server/tree/issue/146/renaming-doesnt-work-for-lambda-args) branch, which should fix your issue

[2020-09-25 18:02] #146 closed

[2020-09-26 18:33] Prince781 commented on #120
Just letting you know I haven't forgotten about this issue. I've opened a MR in GLib that I think will solve it:

https://gitlab.gnome.org/GNOME/glib/-/merge_requests/1662

[2020-09-29 00:44] Prince781 commented on #147
@aeldemery

The syntax for these methods is something I hadn't seen before (`class` type/annotation), but I think I understand it now. These are essentially like static methods with an implicit `this` argument being the class type. So you call them like static methods, and that's why they aren't shown like instance methods.

https://developer.gnome.org/gtk4/stable/GtkWidget.html#gtk-widget-class-i

[2020-09-29 00:47] Prince781 commented on #147
Since these methods are like static methods, they should only show up when you call them like static methods, and so VLS has the right behavior here.

[2020-09-29 00:53] Prince781 commented on #140
I will create a new issue for the second thing that is shown in your post.

[2020-09-29 01:09] Prince781 opened #153 "having two parameters where one's name contains the other screws up activeParameter computation"
Refer to #140 for reproducibility information.

[2020-09-29 01:19] Prince781 commented on #140
I don't see this issue in Vim or GNOME Builder, so it seems like something specific to VS Code. Yet, VS Code does not have this problem with other language servers.

[2020-09-29 04:17] aeldemery commented on #147
Thanks for resolving this matter in a way you see right.
If you allow me to express a couple of comments:
1. To tell the truth I don't notice this `class` modifier in the methods signature, although I understand vaguely it's meaning, I couldn't find any documentation in the Vala reference, please see [this link](https://www.vala-project.org/doc/vala/Classes.html#Class_methods).

2. Although not ve

[2020-09-29 05:53] Prince781 commented on #147
These symbols are static methods, so they should only be called as `Gtk.Widget.[method]()`, and not anything else. I'm not sure I understand the behavior you want.

[2020-09-29 06:53] Prince781 commented on #147
@aeldemery on review, I see that although these are static methods, they are treated in Vala like instance methods. I understand the problem now.

[2020-09-29 07:02] aeldemery commented on #147
Thank you for reconsidering this. We could discuss on irc what is actually the meaning of `class` in this context.

[2020-09-30 08:15] Cogitri opened #154 "Warn user if .vala file hasn't been added to meson"
**Describe the bug**
Right now if the user creates a new .vala file and forgets to add it to meson, code completion doesn't work in the file and every type is interpreted as `null`. It's easy enough to recognise this and add the missing file afterwards, but I think it'd be nice if VLS issued a warning if the user edits a (new) .vala file that hasn't been added to meson yet. But of course this can

[2020-09-30 09:32] treagod opened #155 "Failing on Elementary 6 Preview"
**Describe the bug**
When trying to add the repository via `sudo add-apt-repository ppa:prince781/vala-language-server` I get following error:

[code]

**Software**
Elementary 6 Preview
Vala 0.48.11

**To Reproduce**
Execute `sudo add-apt-repository ppa:prince781/vala-language-server`

[2020-09-30 16:51] Prince781 commented on #155
Probably because the Ubuntu repo has packages for 18.04 up to 20.04, but eOS next is based off of 20.10 or something later.

[2020-09-30 16:54] Prince781 commented on #155
This is not really a bug, just an indication that we need to make packages for the next version of Ubuntu and eOS (once they're released). We don't guarantee packages for unreleased/prereleased distros. For now, I would suggest building VLS from source, which has a lot more bug fixes and feature improvements than the packaged VLS anyway right now.

[2020-09-30 16:54] #155 closed

[2020-10-01 09:42] abderrahim opened #156 "Upstream the GNOME Builder plugin"
**Describe the bug**

It would be nice to have the gnome-builder plugin as part of upstream (which is also upstream's policy regarding plugins). The plugin hasn't seen any real change (except compatibility fixes) since https://github.com/benwaffle/vala-language-server/commit/26cce4359991840bd87c0e959f8e3537a4e8a4d5, so it's not like upstreaming it will make development harder.

It will also help w

[2020-10-01 16:58] Cogitri commented on #63
What should be documented on the manpage? AFAICT vls doesn't accept any parameters, or does it?

[2020-10-01 17:03] Cogitri opened #158 "Display stdout of failed meson run in output console"
**Describe the bug**
It'd be helpful if VLS opened a terminal in VSCode when configuring with meson failed and it displayed meson's output

[2020-10-01 18:09] Prince781 commented on #158
Or perhaps I'm misunderstanding your issue.

[2020-10-01 18:19] Cogitri commented on #158
Ah yes, seems like VLS does write this to its `Output` tab (even without debug mode), but I doubt users will look there for the logs. I think it'd be useful if the output tab were opened like it is when VLS crashes so users immediately see what exactly went wrong. On the other hand, maybe it's OK assuming that if the user sees the error message from VLS that configuration went wrong they'll open a

[2020-10-01 18:22] Prince781 commented on #63
@Cogitri yeah, I intend for VLS to have some configuration from the command-line in the future (for example, if socket communication is implemented). I think a manpage at present would be pretty bare, but it might include some info about using `G_MESSAGES_DEBUG=all`, for example.

[2020-10-02 01:32] Prince781 commented on #147
@aeldemery try out the branch for this issue and let me know how it works

[2020-10-02 08:22] aeldemery commented on #147
@Prince781 Thank you very much.

I confirm that those functions and the rest of `class` methods like

[code]

show only inside `static construct` which is equal to `class_init` in `c`, and don't show up inside `construct` or class constructor which is right.

That means that class method look up works as it is supposed to do.

Thank you for your hard work!

[2020-10-02 17:11] #145 closed

[2020-10-03 18:22] aeldemery commented on #147
@Prince781 Have you merged this in master? because I switched to master and pulled the latest commits, but it doesn't work anymore?

[2020-10-03 22:02] #63 closed

[2020-10-04 17:45] Prince781 commented on #147
I changed it to also show class symbols in instance methods, since that's theoretically something that someone might want to do. I was trying to think about how I might support @ricotz's [explicit class-access feature](https://gitlab.gnome.org/GNOME/vala/-/tree/wip/explicit-class-access), but I can leave that for later.

[2020-10-04 17:46] #147 closed

[2020-10-05 15:06] Cogitri commented on #55
Heya,

I'd like to give this a go but to be honest I'm a bit lost as to where I should start to implement this since the code base is rather big

[2020-10-06 08:24] Prince781 commented on #55
@Cogitri a good place to start would be where signature help is computed, in `Vls.SignatureHelpEngine.show_help()`.

Here is where we perform analysis when the cursor is at a method call. This analysis discovers the precise method we are referring to (`explicit_sym`) and the *formal* parameters of that method (`param_list`). You might have to have a special case for printf-style methods and analyz

[2020-10-06 22:14] gavr123456789 commented on #122
Example
[code]

[2020-10-09 14:49] gavr123456789 commented on #120
Just checked win32 workaround branch, it doesnt help, still blinking.

[2020-10-09 14:53] gavr123456789 commented on #120
![Peek 2020-10-09 17-52](https://user-images.githubusercontent.com/30507409/95598192-4f5fa480-0a58-11eb-9ca3-49c6ecfad423.gif)

[2020-10-09 15:44] Prince781 commented on #120
@gavr123456789 the win32-workaround branch only helps with launching `meson` from VLS. It doesn't change what libvala does with `pkg-config`.

If you want to test the fix in the patch, you can do these steps in msys2:

1. clone the [MINGW-packages](https://github.com/msys2/MINGW-packages) repository
[code]
2. from msys2 terminal, install `patch`
3. then cd into `MINGW-packages/mingw-w64-glib2`
4.

[2020-10-09 17:48] gavr123456789 commented on #120
![Peek 2020-10-09 20-44](https://user-images.githubusercontent.com/30507409/95615219-8cd02c00-0a70-11eb-8f10-0f007481bbd1.gif)
Ty, that woks!  (that glitch only on record)
(for others, just `pacman -U ....zst`)

[2020-10-09 23:06] Cogitri commented on #55
Thanks for the detailed explanation, I think that's enough to get me going! 👍
I'll look into it on a few days

[2020-10-11 01:44] futurepaycc opened #161 "VLS can not infer used packages without meson or compile_commands"
os: manjaro
package: vala-language-server, vala-language-server-git
version: 0.48
os vala: 0.48
when load hello world test, output:
`
(vala-language-server:202256): vala-CRITICAL **: 03:06:25.390: vala_source_reference_construct: assertion '_file != NULL' failed
[Info  - 3:06:26 AM] Connection to server got closed. Server will restart.
`

[2020-10-11 01:50] Prince781 commented on #161
I need more info. Can you give me the specific file(s) and/or commands you're using? I use Arch as my daily driver, so I have a hunch that this problem is caused by how VLS is handling a certain project setup, not anything to do with the Linux distribution.

[2020-10-11 01:52] Prince781 commented on #161
Some more info you can provide other than the project source:

- a trace of VLS (start it with debug mode enabled in the VSCode extension)
- what version of libvala is VLS linked against

[2020-10-11 01:57] futurepaycc commented on #161
`(vala-language-server:206366): vala-CRITICAL **: 09:55:37.983: vala_source_reference_construct: assertion '_file != NULL' failed
[Info  - 9:55:38 AM] Connection to server got closed. Server will restart.
(vala-language-server:206393): vls-DEBUG: 09:55:38.792: server.vala:193: Finished constructing
(vala-language-server:206393): GLib-GIO-DEBUG: 09:55:38.801: _g_io_module_get_default: Found default

[2020-10-11 01:59] futurepaycc commented on #161
hello world code:
`using Gtk;

int main (string[] args) {
    Gtk.init (ref args);

    var window = new Window ();
    window.title = "First GTK+ Program";
    window.border_width = 10;
    window.window_position = WindowPosition.CENTER;
    window.set_default_size (350, 70);
    window.destroy.connect (Gtk.main_quit);

    var button = new Button.with_label ("Click me!");
    button.clicked.conn

[2020-10-11 17:51] Prince781 commented on #161
@futurepaycc it looks like VLS is working in the trace you sent? I don't see a crash.

[2020-10-12 02:47] futurepaycc commented on #161
ok, I'm  newbie to vala, looks vala-code/LPS donot support simple test project, after some google, I create a boilerplate work for this scenario:
[https://github.com/futurepaycc/vala_practise](url)
but I think the readme doc should improve for someone like me.

[2020-10-12 17:18] Prince781 commented on #161
Simple test projects work with VLS when they don't need to use external packages. VLS needs to understand the compiler arguments of your project in order to understand what `Gtk` means, otherwise, the default is to just run the compiler without any arguments. If you were compiling your example on the command-line, you would do `valac hello1.vala --pkg gtk+-3.0`, for example. Without a `meson.build

[2020-10-13 06:47] futurepaycc commented on #161
so what about https://github.com/GNOME/vala itemself  with autoconf?

[2020-10-14 02:24] Prince781 commented on #161
@futurepaycc won't work unless you switch to the `wip/meson` branch, because VLS doesn't support autoconf (as it's quite difficult to introspect).

[2020-10-17 04:54] nahuelwexd opened #162 "support Meson subprojects"
**Describe the bug**
VLS stops working when I add libhandy in gtk4 branch as subproject. It accuses that it cannot find the GIR file, but as I could see it is never generated when it compiles the library. Maybe it's compiling it wrong?

**Software**
OS and version (e.g. Ubuntu 20.04): Fedora 33 (Silverblue). Running VLS from Toolbox
Code editor (e.g. VSCode): VS Code. Running it from Toolbox
Vala

[2020-10-17 06:07] Prince781 commented on #161
I'm closing this issue because it's not actually a bug. There are some existing ideas about enhancing VLS that would make this issue less of a problem, but that should be mentioned in a separate ticket.

[2020-10-17 06:07] #161 closed

[2020-10-17 06:08] Prince781 commented on #158
If VLS crashes then (at least in Visual Studio Code) the output tab's information should persist. There may be something in settings that affects this behavior, though.

[2020-10-17 06:09] Prince781 commented on #162
Meson subprojects aren't supported yet.

[2020-10-17 06:16] nahuelwexd commented on #162
I thought they were because they had started working quite well with the latest versions 🤔

[2020-10-17 07:06] Prince781 commented on #162
I haven't done any testing with them, nor made any specific effort to support them, so if they work that's just a coincidence.

[2020-10-17 08:42] AienTech commented on #143
Any updates on this issue?

[2020-10-17 09:08] Prince781 commented on #143
@AienTech neither the aforementioned branch nor the current master branch of VLS has changed anything when running with WSL?

I've tested VLS with mingw64 and it works. This is what I've guaranteed for VLS's Windows support, but I'll take a look at WSL and see what is happening there.

[2020-10-17 13:31] Cogitri commented on #162
Seems like they work for my vala-unit subproject too :thinking:

[2020-10-17 19:52] Cogitri commented on #162
Maybe VLS could support passing on `PKG_CONFIG_PATH` to meson as a workaround for this, then it'd be possible to install subprojects to some folder

[2020-10-17 21:53] AienTech commented on #143
@Prince781 actually this was an issue in vscode configs. in my case, I set the `G_DEBUG` to `fatal-criticals`, so it caused the error.
For anyone with a similar problem, just open your vscode settings and search for vala, then be sure that you have set the `Vls: Fail on Criticals` to `false`

[2020-10-19 09:16] marbetschar commented on #103
@Cogitri can you elaborate how exactly you managed to successfully auto-start Vala Language Server from a VSCode Flatpak? In my case, I'm always getting a "Starting client failed Launching server using command $HOME/.bin/vala-language-server.sh failed" error. I did set things up as documented here: https://linux.marco.betschart.name/Desktop/Visual-Studio-Code-Vala-Autocompletion.html#setup-vala-au

[2020-10-19 11:37] Cogitri commented on #103
I have set this up as following:

1. Created a `vala-language-server` script in `$HOME/.bin/vscode/vala-language-server` (any location will do though) with the following contents:

[code]

2. chmod +x vala-language-server
3. Added `"vls.languageServerPath": "/home/rasmus/.bin/vscode/vala-language-server"` to VSCode's `settings.json`. I think VSCode doesn't lookup the `$HOME` variable so that might

[2020-10-19 18:29] marbetschar commented on #103
@Cogitri thank you so much!! the hint regarding replacing the environment var with its actual value did the trick.

[2020-10-21 17:10] nahuelwexd commented on #103
For users of the flatpaked version of VS Code (and immutable systems), I found this article yesterday: https://jurf.github.io/2020/03/24/vscode-toolbox

After configuring everything as the article indicates, you simply install VLS in the Toolbox and the Vala extension should be able to detect it.

An issue related to this could be microsoft/vscode-remote-release#3345

[2020-10-30 04:00] Prince781 commented on #143
@aggalex does @AienTech's solution fix your problem?

[2020-10-30 10:35] Cogitri commented on #55
OK, I think I have most of the pieces in place now, but I'm not quite sure how to do:

I suppose I would have to loop over the `ArrayList<FakeExpr>` I added to `FakeMethodCall` here:

https://github.com/benwaffle/vala-language-server/blob/a22be6b8faf7099db5b04e92ffedcb1e4792828c/src/codehelp/symbolextractor.vala#L432

like so:

[code]

Or by recursing into `resolve_typed_expression()` again, if re

[2020-10-31 04:52] Prince781 commented on #134
Just so you are aware, we are now dropping support for Ubuntu 18.10, 19.04, and 19.10 as they are now officially unsupported. Ubuntu 18.04 will be supported because it is a LTS release. Please upgrade to Ubuntu 20.04 or later.

[2020-10-31 15:04] dsvensson opened #165 "Add Emacs to README"
lsp-mode for Emacs just gained vala-language-server support, works great, https://github.com/emacs-lsp/lsp-mode/pull/2294

[2020-10-31 19:30] Prince781 commented on #165
Perhaps you could edit the readme to your satisfaction? You'd know more about this than me, considering you wrote the patch.

[2020-10-31 19:33] Prince781 commented on #158
So is this really an issue, then? Can I close it? It doesn't seem to be behavior controlled by the language server.

[2020-11-01 12:42] Cogitri commented on #158
Hmm, well, IMHO it'd still be nice if the VSCode Extension would throw a separate error "Meson configure failed..." and showed that to the user

[2020-11-05 00:56] zocker-160 opened #167 "document how VLS gets compiler flags"
EDIT: this is not a bug, but a lack of documentation, since beginners like me don't know the dependency on additional files needed in order to make it work properly.

old bug report:
--------------
**Describe the bug**
I am trying to learn Vala by using some of the official Vala GTK+ examples, but sadly I don't get any suggestions for the Gtk module. It complains about not finding it, while I am a

[2020-11-05 02:42] Prince781 commented on #167
This is not an issue (see https://github.com/benwaffle/vala-language-server/issues/161). VLS doesn't have the compiler arguments because it needs to get them either from `compile_commands.json` or a `meson.build` file in the project structure. In fact, there's actually no good way to know what package you want when you write `using Gtk;`, since that namespace belongs to several packages (GTK2, GTK

[2020-11-05 13:33] zocker-160 commented on #167
@Prince781 ok thanks understood, but I would suggest adding that info to the readme or at least add a reference to https://github.com/benwaffle/vala-starter, because I think many other beginners will also bump into this issue.

[2020-11-05 14:49] Prince781 commented on #167
@zocker-160 good point. I'll transform this ticket into _that_ issue then.

[2020-11-05 14:59] zocker-160 commented on #167
thank you, I updated the description of the issue and using the `vala-starter` repo as template, I got it working now
I apologize for the false report.

[2020-11-12 17:56] Cogitri opened #168 "VLS not handling internal (static) libraries correctly"
**Describe the bug**
When using an internal static library (e.g. for tests and the actual executable), autocomplete doesn't work correctly in the actual executable (which is only the static library + main exe). I generate them like so:

[code]

**Software**
OS and version (e.g. Ubuntu 20.04): Fedora Silverblue
Code editor (e.g. VSCode): VSCode
Vala Language Server (e.g. git commit, or PPA/AUR vers

[2020-11-14 17:22] EbonJaeger opened #169 "server must always send publishDiagnostics with a URI"
**Describe the bug**
I know this is probably unsupported, but I am trying to get vala-language-server to work with Neovim's built-in LSP support in the 0.5.0 nightlies. For the short time it's usable, it seems to work well, but there seems to be an issue with diagnostics reporting. I'm not sure yet if this is an issue with the language server, or Neovim's implementation, but figured I'd try here f

[2020-12-30 12:20] gavr123456789 commented on #122
not only completeeon, but also usual auto complition
![image](https://user-images.githubusercontent.com/30507409/103350887-7efbd700-4ab2-11eb-98b4-6ffbe7a4899f.png)

[2020-12-30 23:13] Prince781 commented on #122
@gavr123456789 that's not a problem with usual auto completion, because the `label` symbol is for some reason undefined

[2021-01-21 13:13] aeldemery opened #170 "Failed to initialize meson project"
**Discription**

I've build `libsoup-3.0` from sources and installed it to `/opt`. I've added the necessary environment variable so pkg-config can find the library and dependencies. Then I made a simple project which depends on `libsoup-3.0`. Building that project using meson successfully completes without problems, meson knows how to read environment variables and find required dependencies befor

[2021-01-21 17:54] aeldemery commented on #170
because `vala-language-server` was installed system-wide, it inherits environment variable from `root` user, so whatever variables I set is not visibile in the context of spawned meson process. The solustion was to set `PKG_CONFIG_PATH` system-wide also in `etc/environment`.

[2021-01-23 14:25] aeldemery commented on #170
I'll close the issue as I guess it's not directly related to `VLS` rather how the environment variables are set in `fish` shell.

[2021-01-23 14:25] #170 closed

[2021-02-06 12:12] aeldemery opened #171 "Build failure with vala 0.50.1.214-40a6"
Vala-Language-Server is not buildable anymore with the recent vala compiler.
[code]
meson configure without a problem but ninja emits those errors

[code]

[2021-02-06 12:28] aeldemery commented on #171
This is related to this commit in `vala`
https://gitlab.gnome.org/GNOME/vala/-/commit/b3ee5b0fffc7ab7f5d070bfde5bf8bb1d661b5e8

[2021-02-07 14:13] overlisted opened #173 "Update README to point to OBS repo for Fedora packages"
## Describe the bug
`$ sudo dnf copr enable prince781/vala-language-server` returns "Error: This repository does not have any builds yet so you cannot enable it now."

## Software
**OS and version**: Fedora 33
**Vala Language Server**: Not installed
**Vala version**: 0.48.13

## Steps to reproduce the behavior:
1. Install Fedora 33
2. Execute `$ sudo dnf copr enable prince781/vala-language-server`

[2021-02-07 19:30] #171 closed

[2021-02-09 15:00] Prince781 commented on #173
I realize now that I forgot to update the documentation as we're transitioning to using Open Build Service for packaging. I mentioned this in the last [release note](https://github.com/benwaffle/vala-language-server/releases/tag/0.48.1), but I didn't update the README.

If you click [this link](https://software.opensuse.org//download.html?project=home%3APrince781&package=vala-language-server) you

[2021-02-09 17:38] overlisted commented on #173
Thank you! The OBS repository works.

[2021-02-17 20:46] gavr123456789 opened #174 "Crash after autocompliting with posix profile"
**Describe the bug**
Crash after autocompliting with posix profile

**Software**
OS and version (e.g. Ubuntu 20.04): Arch
Code editor (e.g. VSCode): VSCode
Vala Language Server (e.g. git commit, or PPA/AUR version): master
Vala version (`valac --version`): 0.50

**To Reproduce**
Source code repo: any code with `add_global_arguments('--profile=posix', language:'vala')` in meson

Steps to reproduce

[2021-02-17 20:47] gavr123456789 commented on #174
This part shows every time after open file
https://pastebin.com/JRYLADHJ

[2021-02-17 21:04] Prince781 commented on #174
Hmm...seems to work for me:

[code]

meson.build:
[code]

thing.vala:
[code]

[2021-02-17 21:44] gavr123456789 commented on #174
https://user-images.githubusercontent.com/30507409/108271739-50c97800-7182-11eb-863f-f1f871ac304a.mp4

Hmm, just recompiled from cloned master, it reproducible.

[2021-02-18 19:40] overlisted commented on #156
Please do it! I really don't like constantly copying compiled `vala_langserv.*` to `~/.local/share/flatpak/app/org.gnome.Builder/x86_64/master/{revision}/files/lib/gnome-builder/plugins`

[2021-02-20 12:16] astavale commented on #174
@gavr123456789 If you remove the ```[Compact]class Sas {}``` from your code does that now work?

Removing the GType runtime type system, like you're doing, is going to cause problems with any assumptions made by the type system.

Your code:

[code]
can be compiled to C with:

```valac --profile=posix test.vala --ccode```

but the generated C code doesn't declare the `Sas` type, so the C compiler w

[2021-02-20 19:52] Prince781 commented on #174
@gavr123456789 I do notice that I get these messages:

[code]

But no crash. Do you have `Vls: Fail on Criticals` enabled?

[2021-02-26 16:56] gavr123456789 commented on #174
I understand what the problem is!
I still had the glib packages enabled in meson.
In the video, you can see how 2k problems appear.
![изображение](https://user-images.githubusercontent.com/30507409/109330334-9ebe3a00-786c-11eb-9d47-10fcca5b11d9.png)
So, if you have both `dependency('glib-2.0'),` and `add_global_arguments('--profile=posix', language:'vala')` then vls crashes.

[2021-02-26 19:19] Prince781 commented on #174
Even with this change, I still can't reproduce this issue.

[2021-02-26 22:14] gavr123456789 commented on #174
Hmm, now it doesnt crashes, but works really slow and non stop spawn this criticals and errors.
...
Found that, try with `dependency ('gtk4', version: '>= 4.0.0'),`

https://user-images.githubusercontent.com/30507409/109360957-1e61fe00-7899-11eb-95dc-6f61f2c7b48c.mp4

[2021-02-27 00:21] Prince781 commented on #174
So then should I close this?

[2021-02-27 01:00] gavr123456789 commented on #174
Isnt that still a problem? Can you reproduce it with gtk 4 dep?

[2021-03-04 21:44] HiPhish commented on #169
I have the same issue. When I intercepted the message in the diagnostics handling code I got the following:

[code]

The Neovim client expect there to be a URI entry as well, and the specification for [textDocument/publishDiagnostics](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_publishDiagnostics) seems to agree:

[code]

[2021-03-05 04:24] Prince781 commented on #169
@EbonJaeger @HiPhish could you test VLS from the `bug/publishDiagnostics-without-uri` branch and let me know if it fixes your issue?

[2021-03-05 04:43] EbonJaeger commented on #169
@Prince781 thanks for looking into this! I have good news and bad news. The good news: the particular error no longer appears. The bad news: instead it throws a few of these errors:
`Error executing vim.schedule lua callback: /usr/share/nvim/runtime/lua/vim/diagnostic.lua:220: attempt to index local 'range' (a nil value)`
Which would be in this function in the Lua runtime:
[code]

I'm not really f

[2021-03-05 07:16] Prince781 commented on #169
@EbonJaeger try again now

[2021-03-05 15:38] HiPhish commented on #169
I get a seqfault:

[code]

The same happens on `master` as well, so it's probably unrelated to your changes. I am on Void Linux, but I use Guix as a secondary package manager.

[2021-03-05 16:10] EbonJaeger commented on #169
Everything seems to be working fine for me now. :D

[2021-03-05 19:52] Prince781 commented on #169
@HiPhish I think you should produce a stack trace and then create a new bug report.

[2021-03-05 19:59] #169 closed

[2021-03-05 23:09] HiPhish opened #177 "Segfault when building under Guix"
**Describe the bug**
Building with Guix causes a segfault.

**Software**
OS and version: Void Linux
Vala Language Server: 204f8b68cb020539ce0a48adf2430de964b05ab0
Vala version: Vala 0.50.2

**To Reproduce**

Steps to reproduce the behavior:
1. Check out current master
2. Set up Guix environment `guix environment vala-language server`
3. Follow the build instructions
[code]
4. Run the executable: `

[2021-04-06 20:33] Prince781 commented on #177
Could you print the full backtrace?

[2021-04-15 07:34] akarin123 opened #178 "VLS will crash if user uses the same name for constructor and member in a class"
**Describe the bug**
VLS will crash if user uses the same name for a constructor (name after the dot, of course, see code snippet below) and a member variable in a class. This issue seems to have a similar origin with the issue #135

**Software**
OS and version: Linux Mint 20.1
Code editor: VS Code 1.54.3
Vala Language Server: VLS 0.48.0-1 from PPA
Vala version: 0.48.17

**To Reproduce**
A simple

[2021-04-15 09:45] akarin123 commented on #178
Ah, after I finally installed VLS 0.48.1 on Linux Mint 20.1, I found this issue has been solved. Sorry for the ignorance, and wish VLS 0.48.1 can be more easily installed for OS versions before Ubuntu 20.10.

[2021-04-15 09:45] #178 closed

[2021-04-15 18:13] Prince781 commented on #173
Resolved

[2021-04-15 18:13] #173 closed

[2021-04-18 21:13] Prince781 commented on #120
While this MR is still in progress, I've rebuilt `mingw-w64-x86_64-glib2` with the latest version of GLib and the patch. You can get it here:
[mingw-w64-x86_64-glib2-2.68.1-1-any.pkg.tar.zip](https://github.com/benwaffle/vala-language-server/files/6332213/mingw-w64-x86_64-glib2-2.68.1-1-any.pkg.tar.zip)

[2021-04-20 03:32] Prince781 commented on #120
My PR has been merged into GLib upstream. I think I can close this bug. Until the latest version of GLib lands in MinGW you can use the package I've built.

[2021-04-20 03:32] #120 closed

[2021-04-20 03:39] Prince781 commented on #49
I think this issue hasn't been shown to be relevant. I'll close it.

[2021-04-20 03:39] #49 closed

[2021-04-23 10:02] HiPhish commented on #177
I don´t think there is a point to me posting a backtrace here, I have the same issue with other GLib libraries as well if I use Guix to install them. I posted on their mailing list, but no one answered there. I´ll just close this issue here because it´s a more general problem beyond the Vala language server.

[2021-04-23 10:02] #177 closed

[2021-04-23 10:07] HiPhish commented on #177
For the sake of completeness, here is the follow-up message I posted on the Guix mailing list with the backtrace (formatting added for GitHub):

https://lists.gnu.org/archive/html/help-guix/2021-03/msg00123.html

[2021-04-23 23:19] Prince781 commented on #162
It turns out that this and #168 are both caused by issues with command substitution and dependency resolution in Meson projects.

[2021-04-25 00:46] Prince781 commented on #143
I will close this seeing as there has been no further activity and the issue appears to be solved. I'll reopen this issue if necessary.

[2021-04-25 00:46] #143 closed

[2021-04-25 02:55] activey opened #181 "Quick fix support?"
Hi,

Just wondering, any chances for getting quick-fix support? :)
Like for example for creating nonexisting methods, type constructors with non existing parameters, etc... , eg:

When I have a type SomeType with default non-parameter constructor like this:
[code]
and I want to call it this way:
[code]
so then vscode can create the constructor when I use the quick-fix feature.
It would be great to

[2021-04-26 18:50] #162 closed

[2021-04-26 18:50] #168 closed

[2021-04-26 19:13] Prince781 commented on #52
This really relies on there being a Vala image and good support for building Vala on Windows.

[2021-04-28 02:52] Project-Magenta commented on #120
Thank you

[2021-04-28 09:05] pervoj opened #182 "MSYS package"
I created fork of this repository for Windows builds. Can you add link to README.md, please?

[https://github.com/pervoj/vala-language-server-windows](https://github.com/pervoj/vala-language-server-windows)

[2021-04-28 11:35] pervoj commented on #182
And, small question, why is VLS on Windows opening pkgconfig terminal window after every small code change?

[2021-04-28 11:45] gavr123456789 commented on #182
@pervoj see https://github.com/Prince781/vala-language-server/issues/120 and https://gitlab.gnome.org/GNOME/glib/-/merge_requests/1662
you need to use patched glib https://github.com/benwaffle/vala-language-server/files/6332213/mingw-w64-x86_64-glib2-2.68.1-1-any.pkg.tar.zip
(pacman -U pathToFile)

[2021-04-28 15:15] pervoj commented on #182
@gavr123456789 Thanks!

[2021-04-28 19:25] Prince781 commented on #182
While I appreciate your initiative, I think there are much better ways to go about doing this. A few comments:

1. I don't think it's necessary to fork this repo and make releases just quoting the release statements from the main branch. If all you're doing is compiling VLS on Windows, you don't need to go through all this. It would be sufficient to make these releases from an empty repo. Otherwis

[2021-04-29 00:36] taozuhong commented on #182
@pervoj there are two ways to provide prebuild version for windows:
[MSYS](https://github.com/msys2/MINGW-packages)
[WinGet](https://github.com/microsoft/winget-pkgs)

[2021-04-29 09:07] kb-1000 opened #183 "Fedora 34 build"
Hi, your Fedora repository does not seem to offer Fedora 34 packages, only 33 and 32.
Can you please update it?

[2021-04-29 10:20] Prince781 commented on #183
Done. Just had to check another box. Packages for F34 should be available now.

[2021-04-29 10:20] #183 closed

[2021-04-29 18:57] Prince781 commented on #73
It seems that Vala projects using CMake rely on unofficial macros from here: https://github.com/jakobwesthoff/Vala_CMake/

CMake's file API allows a program to get the list of targets and their sources in a JSON file. The unofficial Vala CMake macros above use `add_custom_command()` to create a `valac` task but it turns out you need to use `add_custom_target()` since that will register it as a tar

[2021-04-29 20:04] Prince781 commented on #73
Also, it would help to know of more Vala projects that use CMake. pdfpc seems like the only one I could find.

[2021-04-29 20:07] Prince781 commented on #73
If pdfpc is the only major Vala codebase that uses CMake, perhaps it would be better to encourage they switch to Meson.

[2021-04-29 20:22] Prince781 commented on #55
@Cogitri, I'm sorry for taking some time to get back to this. I appreciate the work you've done and if you happen to no longer be interested in this issue (seeing as you've migrated some of your projects to Rust), then I would perfectly understand. The work you've done is useful as it is and I will still credit you in the release notes.

With that out of the way, now a note on the issue: I think t

[2021-04-29 21:14] Prince781 commented on #174
Yeah, I've been able to reproduce this actually.

[2021-04-30 18:11] pervoj commented on #182
OK, I will try to package VLS for MSYS2 :)

[2021-04-30 19:38] Prince781 commented on #73
Hmm... it looks like [Dino](https://github.com/dino/dino), another very popular (1.5k stars) project, uses CMake too.

[2021-05-02 15:37] Prince781 commented on #182
@pervoj if you need any help ping me on the Vala Discord or here.

[2021-05-05 18:29] knuxbbs opened #184 "failing with simple project"
**Describe the bug**
Vala types like `int` and `string` are not recognized by the language server.

**Software**
OS and version (e.g. Ubuntu 20.04): Ubuntu 20.04
Code editor (e.g. VSCode): VSCode
Vala Language Server (e.g. git commit, or PPA/AUR version): 0.48.0
Vala version (`valac --version`): 0.52.2

**To Reproduce**
In Gnome Builder, I've created a sample Gnome application with Vala. When I tr

[2021-05-05 19:38] Prince781 commented on #184
You need to include `build-aux/meson/postinstall.py`

[code]

[2021-05-05 19:41] Prince781 commented on #184
Another thing, you need to enable debug mode for the Vala plugin in VS Code. That way the log you generate will include a lot more useful information. However, I will still have something to work with here.
![Screenshot from 2021-05-05 15-39-30](https://user-images.githubusercontent.com/1341033/117199500-451c4380-adb8-11eb-9cbe-68439c1d8047.png)

[2021-05-05 21:18] knuxbbs commented on #184
I added the missing file: https://github.com/knuxbbs/vala-sample/commit/91e0a161f00a993f052b2d3d178db009280e494e.

And here is the log with debug enabled: [vls.log](https://github.com/Prince781/vala-language-server/files/6430285/vls.log)

[2021-05-05 22:09] Prince781 commented on #184
Okay, I see the issue now. You're using an old version of VLS (0.48.0). You need the latest version. Unfortunately you need to compile and install VLS like `meson -Dprefix=/usr build` (the prefix is important) because the Ubuntu 20.04 package does not build.

[2021-05-06 01:04] Prince781 commented on #184
So I'm closing this as I assume this issue is resolved in the latest version of VLS.

[2021-05-06 01:04] #184 closed

[2021-05-09 00:56] Prince781 opened #185 "Support type narrowing"
It seems that this feature was implemented in the compiler in such a way that  the data type of the type-narrowed symbol is unchanged. So we have to either change our strategy or change the way this is implemented in upstream.

Example:
[code]

[2021-05-17 14:28] nahuelwexd opened #186 "No docs on hover when using interpreter line"
**Describe the bug**
When opening a file with a shebang at the beginning (for example, `#!/usr/bin/env -S vala --pkg gtk4`), VLS does not seem to be able to display documentation for any of the library symbols whose documentation is obtained from the gir files.

**Software**
OS and version (e.g. Ubuntu 20.04): Fedora 34 (Silverblue)
Code editor (e.g. VSCode): VS Code 1.56.2
Vala Language Server (e

[2021-05-17 19:26] #186 closed

[2021-05-26 04:40] Prince781 commented on #158
Seeing as this is the present behavior of VLS, I'm closing this. If you think of something else, or if I misunderstood this issue, feel free to reopen.

[2021-05-26 04:40] #158 closed

[2021-05-28 07:08] #55 closed

[2021-05-30 08:24] #122 closed

[2021-05-30 08:39] Prince781 commented on #136
This is actually something that belongs in a linter.

[2021-05-30 11:05] gavr123456789 commented on #136
Yea, would be cool to have a linter integrated in vls

[2021-05-30 21:57] #165 closed

[2021-05-30 21:57] #167 closed

[2021-06-25 21:43] chances commented on #73
Though not anymore, the [elementary OS](https://github.com/elementary?type=source) project's Vala applications were built with CMake. [Many projects on GitHub use CMake](https://github.com/search?l=CMake&q=findvala&type=Code) (code search for the "FindVala" CMake module).

[2021-06-26 00:48] Prince781 commented on #73
@chances most of those projects are dead, save a handful.

[2021-06-28 17:12] chances commented on #73
That doesn't mean none of them will be revived in the future.

[2021-06-28 17:47] Prince781 commented on #73
@chances well I still have to prioritize support for the things that people are currently using. If and when what you said happens, then CMake will become a higher priority.

[2021-06-29 01:14] Prince781 commented on #182
@taozuhong will you be submitting your package to https://github.com/msys2/MINGW-packages/ ?

[2021-06-29 02:21] taozuhong commented on #182
could you pls release a new version to build MINGW package?

[2021-06-29 03:19] Prince781 commented on #182
@taozuhong Sure. That will happen soon.

[2021-06-29 08:11] pervoj commented on #182
@Prince781 Sorry, but I don't have much time to build a VLS for MSYS2 yet. So I would be happy if @taozuhong would do it. Thanks a lot!

[2021-06-29 13:11] Prince781 commented on #182
@pervoj Indeed, that's perfectly fine. 😊 I understand some people are busy with certain things.

[2021-06-29 16:38] #111 closed

[2021-06-30 02:15] taozuhong commented on #182
@pervoj Honor to do it, and it's convenient for me, because I do it many times in these days.

[2021-07-02 20:01] Prince781 commented on #154
I think we'd want to have VLS only warn you when you have errors that could be resolved by adding the file to the build system. Otherwise this could be annoying.

Perhaps what we'd want is for VLS to tell from the error messages when a certain namespace is being relied on that exists in one of the other projects that VLS knows about.

[2021-07-02 21:29] indracula opened #197 "I want to install it for elementary OS 5.1.7 Hera (Ubuntu 18.04.4 LTS)"
I can't find this package for Ubuntu 18.04.4 LTS . I see this package for xUbuntu 20.04 or higher.

How can i install it on elementary os ??

[2021-07-02 22:53] Prince781 commented on #197
Because eOS 5.1's packages are quite old, you have to install a later version of Vala from this PPA like this: `sudo add-apt-repository ppa:vala-team/next`.

Vala 0.48 or greater is a hard dependency. I've tried to make sure that VLS can work with the other libraries it needs that also have old versions on eOS 5.1.

Incidentally, eOS 6 has Vala 0.48, so you could upgrade to that, but that's still

[2021-07-02 22:54] #197 closed

[2021-07-02 22:57] #27 closed

[2021-07-03 08:44] gavr123456789 commented on #154
wow, really nice idea, never throw about it

[2021-07-03 15:58] Prince781 commented on #174
It honestly seems like this is an issue in upstream, as I'm getting errors deep in `libvala`. However this is also a very unusual configuration that's impractical (no one is going to use GLib with a Posix profile).

[2021-07-03 17:29] Prince781 commented on #185
There's a couple of problems with implementing this as things stand:

1. The `SymbolExtractor` has to be modified to set `context_symbol` when resolving the type of an expression. We rely on the symbol extractor for most completions because it's much faster than a full parse. However, if the extractor must reimplement the work of narrowing the type, we could just set `value_type` instead.
2. I thi

[2021-07-03 17:48] Ok9xNirab opened #200 "vala language server with gtk completion"
Hi,
I'm newbie person to learn vala and gtk development .
I got some errors from vs-code .

But code is compiled and run smoothly . no problem !!
why i seen this wrong ERRORS ??

<img src="https://i.ibb.co/HdTgTBL/Screenshot-from-2021-07-03-23-43-26.png" />

--

<img src="https://i.ibb.co/YRxfvgT/Screenshot-from-2021-07-03-23-43-49.png" />

Also got errors from this line of code :

[code]

[2021-07-03 18:11] #133 closed

[2021-07-03 18:12] #200 closed

[2021-07-04 09:46] Prince781 commented on #182
@taozuhong the release is here: https://github.com/Prince781/vala-language-server/releases/tag/0.48.3

Let me know if there's anything else I can do.

[2021-07-04 14:32] taozuhong commented on #182
Got it, the mingw package PR link:
https://github.com/msys2/MINGW-packages/pull/9087

[2021-07-04 18:25] #182 closed

[2021-07-06 13:36] pervoj commented on #182
@taozuhong Can you please also build [Prince781/valdo](https://github.com/Prince781/valdo) for MSYS2? Thanks! :)

[2021-07-07 20:57] Prince781 commented on #156
See https://gitlab.gnome.org/GNOME/gnome-builder/-/merge_requests/391

[2021-07-07 21:49] #156 closed

[2021-07-08 15:10] andirsun opened #205 "How to install on Elementary os 6 base 20.04"
**Describe the bug**
A clear and concise description of what the bug is.

I cant find the packages for base 20.04 in elementary os 6

The main repo has some errors
[code]

[2021-07-08 18:43] #205 closed

[2021-07-09 11:04] pervoj opened #207 "Brew package"
I am working on building VLS for Brew. However, I don't know how to write tests for VLS. Is there any parameter which VLS takes? And any output for it?

I see there is `vls-testclient` executable, but how to run it, when `install` is set to `false`?

My current configuration file for Brew:

[code]

Everything works great, the tests are the only problem.

[2021-07-09 15:04] pervoj opened #208 "Autocomplete shortcuts"
It would be nice to have a feature in VLS similar to the one in IntelliJ. Simple shortcuts that could be used to autocomplete a longer command.

For example, `main` for the `main()` method, `sout` for `stdout.printf()`, or `sirl` for `stdin.read_line()`. Or even `vmain` for the `main()` method of type `void`.

[2021-07-09 16:25] Prince781 commented on #207
There are currently no tests for VLS. (See #26).

[2021-07-09 16:37] Prince781 commented on #207
Also beware that VLS installs its GNOME Builder plugin, so you need to include `-Dplugins=false` in the build command.

[2021-07-09 16:55] #207 closed

[2021-07-09 19:02] Prince781 opened #210 "Add `--version` option to help Brew packaging"
### Discussed in https://github.com/Prince781/vala-language-server/discussions/209

[2021-07-09 19:17] #210 closed

[2021-07-14 15:40] klascano opened #211 "E: Failed to fetch http://ppa.launchpad.net/prince781/vala-language-server/ubuntu/dists/bionic/InRelease 403 Forbidden [IP: 2001:67c:1560:8008::19 80]"
**Describe the bug**
can fetch ppa

**Software**
LSB Version:	core-9.20170808ubuntu1-noarch:printing-9.20170808ubuntu1-noarch:security-9.20170808ubuntu1-noarch
Distributor ID:	elementary
Description:	elementary OS 5.1.7 Hera
Release:	5.1.7
Codename:	hera

**To Reproduce**
sudo apt update && sudo apt upgrade

Err:29 http://ppa.launchpad.net/prince781/vala-language-server/ubuntu bionic InRelease
  4

[2021-07-14 17:14] Prince781 commented on #211
The PPA has been deprecated since earlier versions of Ubuntu don't contain up-to-date dependencies. If you're on elementaryOS 6 it's included by default now and you can install it with `sudo apt install vala-language-server`

[2021-07-15 15:28] Prince781 commented on #211
Anything further? Please let me know. Otherwise I'll close this item.

[2021-07-15 15:36] klascano commented on #211
thanks for your reply, i'm agree so i will wait for the new eos release.

[2021-07-15 17:08] #211 closed

[2021-07-22 20:10] JCWasmx86 opened #212 "Formatting"
I would like to implement (at least basic) formatting for the VLS. I made this issue to discuss the design, as I would like to avoid doing the same work twice

My proposed initial design:

1. VLS receives the document to format (In this initial format, only entire files will be formatted)
2. An AST is built from the file using libvala.
2.1. If the AST is invalid, just don't format (At least for no

[2021-07-23 04:25] Prince781 commented on #212
Thanks for your interest in helping out @JCWasmx86!

Yup, you've described what's needed, but all the work is really in steps 3-4. VLS already has the AST of the current file / project. This is updated after every change.

libvala doesn't keep the source references around for tokens and spaces, so you'll have to do some work to analyze those properly. Furthermore, you'll find sometimes that the se

[2021-07-23 04:26] benwaffle commented on #212
It would be nice to put the formatting logic in a library, so that you could build a `valafmt` command line tool.

[2021-07-23 11:33] JCWasmx86 commented on #212
Thanks for your fast replies!

Now after some tinkering, I hit some roadblock, although I did everything described in the spec
Do I have to change something in the plugins, too (E.g. vscode or gnome-builder)? In VSCodium, if I press (Ctrl + Shift + I) or gnome-builder (Ctrl + Alt + I), no "textDocument/formatting" is sent to the server. [My fork](https://github.com/JCWasmx86/vala-language-server).

[2021-07-23 16:04] Prince781 commented on #118
This would require improvements in Vala's non-null mode before we go through with this.

[2021-07-23 18:14] Prince781 commented on #212
@JCWasmx86 your formatting code is being called, but nothing is happening yet. You should try to print your payload so you can understand what edits you're generating.

[2021-07-23 18:17] Prince781 commented on #212
It looks like your text edit ranges need to be fixed:

[code]

[2021-07-23 20:55] nahuelwexd opened #213 "Support for the @since taglet"
Currently, it's just shown there, but without any format
![image](https://user-images.githubusercontent.com/18204745/126840519-d0244655-9d2d-4322-9de4-9f3215ab6b4b.png)

[2021-07-23 21:39] Prince781 commented on #213
If we're supposed to render something for `@since`, should we also render something for `[Version (since = "...")]`?

[2021-07-23 22:03] nahuelwexd commented on #213
I don't think so, as they've different use cases AFAIU

`[Version (since = "...")]` is just intended to be used by bindings, to allow Vala to warn you if you're using APIs that are not in the version of the library installed onto your system

Those libraries should already expose this info in their docs (exposed to VLS through gir)

[2021-07-25 18:18] JCWasmx86 commented on #212
Thanks for your help!

It "works" now, but I had to recognize, that just indenting line-based will probably not work in the huge majority of cases and end up in a lot of (ugly) code.

I will try to write some sort of tokenizer, so I can reformat it better and be more flexible.

Like:

[code]
will then be a list of some tokens, e.g. `keyword("if"), sym("("), identifier("variable"), sym(")"), sym("{

[2021-07-25 22:34] Prince781 commented on #212
@JCWasmx86

This is not true. Take a look at `Vala.Scanner`. See also `Vala.Parser` which holds a scanner, which is held by the `Vala.CodeContext`. However the scanner held by the parser is a private field, so...

This project coordinates with upstream. Often we try to work around things but many times we've had to request changes in the compiler to fit our needs. One avenue would be to modify lib

[2021-08-11 07:03] tudo75 opened #214 "vala-language-server crash on each open of the project"
**Describe the bug**
I'm working on a project and the vala-language-server crash every tme. I think the problem it's related to the meson config but it works fine and compile and install everything correctly

**Software**
OS and version (e.g. Ubuntu 20.04): Linux Mint 20.2 Uma  Kernel: 5.4.0-80-generic x86_64
Code editor (e.g. VSCode): VSCode
Vala Language Server (e.g. git commit, or PPA/AUR versi

[2021-08-11 11:53] Prince781 commented on #214
Well there's something wrong with your project config, **but** VLS shouldn't be crashing here. It should send an error notification that you should see in the UI. I'm not able to reproduce a crash.

![Screenshot from 2021-08-11 07-53-23](https://user-images.githubusercontent.com/1341033/129024268-1155af9a-4c1e-4706-8e27-2a2e6a377f01.png)

[2021-08-11 12:06] Prince781 commented on #214
@tudo75 perhaps you could give the specific commit? (the output of `vala-language-server --version`)

[2021-08-11 12:31] tudo75 commented on #214
vala-language-server 0.48.3-18-g3d3bbae2

try to comment the  subdir('examples') at the end on the meson file in src

[2021-08-11 13:21] Prince781 commented on #214
Can you give me a stack trace? Run this immediately after opening VSCode and continue:

[code]

[2021-08-11 14:09] tudo75 commented on #214
not sure if it's enough
[code]

[2021-08-11 16:49] tudo75 commented on #214
hope it's good now. sorry but I'm poor trained on debug with gdb

[code]

[2021-08-11 17:13] Prince781 commented on #214
This looks unusual. Are you sure this is where GDB stops at the point the VLS crashes, after you've entered `continue` into GDB's command prompt?

[2021-08-12 03:14] tudo75 commented on #214
[code]

[2021-08-12 05:38] Prince781 commented on #214
Hmm..do you have `G_MESSAGES_DEBUG=fail-criticals` set? Check the Vala extension settings in VSCode's preferences window and see if anything is checked (particularly, "fail with criticals").

[2021-08-12 11:59] amka commented on #214
On elementary such issue was resolved via `sudo apt install elementary-sdk`.
<details>
<summary>There is a huge apps to be installed.</summary>
<pre>
at autoconf automake autopoint autotools-dev binutils binutils-common binutils-x86-64-linux-gnu build-essential dconf-editor
  dctrl-tools debhelper devscripts dh-autoreconf dh-strip-nondeterminism diffstat docbook docbook-to-man docbook-xml docbook-

[2021-08-12 14:58] Prince781 commented on #214
Glad to see the issue resolved.

[2021-08-12 14:58] #214 closed

[2021-08-17 09:39] nehalem501 opened #215 "Support null-conditional member access"
The following code compiles fine in the terminal, but the vscode plugin shows errors.

Screenshot:
<img width="499" alt="Screenshot 2021-08-17 at 11 32 34" src="https://user-images.githubusercontent.com/4194367/129702212-6c5f6b67-6364-4671-aef7-09d9284a2204.png">

Code used:
[code]

[2021-08-17 16:50] Prince781 commented on #215
How did you install vala-language-server by the way? Did you compile it or did you install it from a repository? And how did you install Vala?

[2021-08-17 17:04] nehalem501 commented on #215
I'm on macOS, vala and the language server were installed via homebrew. Vala version is `0.52.5` and vala-language-server version `0.48.3`. (https://formulae.brew.sh/formula/vala, https://formulae.brew.sh/formula/vala-language-server)

I've compiled myself a newer version of the compiler since then (`0.54`), and you were right, there is a mismatch between the compiler version used by the language

[2021-08-17 17:40] nehalem501 commented on #215
After compiling vala-language-server from git and installing it, the issue is not present anymore.

[2021-08-17 19:05] #215 closed

[2021-08-17 19:07] Prince781 commented on #215
@nehalem501 for future reference: if you install VLS from Homebrew, you should use it with the version Vala installed from Homebrew.

[2021-08-30 23:40] Miqueas opened #216 "[Looking for help, Windows] VLS looks to don't recognize namespaces/library"
I am using VLS on Windows 7 via MSYS and I have the extension for VS Code, but it doesn't seem to work well (see the images).

![image](https://user-images.githubusercontent.com/31262466/131419058-3f5999ca-b4d9-4d79-a4f6-4bc75c3e9908.png)
![image](https://user-images.githubusercontent.com/31262466/131419113-da430741-133a-49f7-924e-19c9cd20b834.png)

I have both libraries in MSYS (plus others like

[2021-08-31 00:24] Prince781 commented on #216
Did you see the notice about using [VLS in the README](https://github.com/Prince781/vala-language-server#editors)?

You need to make sure that your project uses`meson` or has a `compile_commands.json` file in the root folder. Otherwise, if you're editing a single file, you need a shebang at the top (`#/usr/bin/env -S vala --pkg libsoup-2.4 --pkg gxml-0.18`).

[2021-08-31 00:33] Miqueas commented on #216
@Prince781 Oh, my mistake, I didn't realize that!

[2021-08-31 00:33] #216 closed

[2021-08-31 00:37] Prince781 commented on #216
Yeah. This is because Vala is a compiled language, so VLS needs to understand the compiler flags in order to work with your file.

[2021-08-31 01:32] Miqueas commented on #216
@Prince781 I see, I use a Lua LS for VS Code so I assumed that works in the same way

[2021-09-06 13:41] liferooter opened #217 "VLS can't find project dependencies in Flatpak"
**Describe the bug**
VLS running in Flatpak with all project dependencies doesn't find project dependencies.

**Software**
OS and version: Fedora Silverblue 34
Code editor: VSCode
Vala Language Server: master (`3d3bbae`)
Vala version: 0.52.5

**To Reproduce**
Project repo: https://github.com/liferooter/textpieces
VLS flatpak manifest:
[code]

Steps to reproduce the behavior:
1. Build and install F

[2021-09-18 18:06] liferooter commented on #118
Also it VLS needs to work with new null-safe operators

[2021-09-28 14:06] DiegoIvanME opened #218 "Build from source instructions in README.md installs VLS to /usr/bin/bin instead of /usr/bin"
Hello everyone, recently tried building VLS from source to use it with GNOME Builder 41, and found out the prefix is wrong. It will create a folder in /usr/bin named *bin* and install VLS there. It should be changed to /usr

**Software**
OS and version: Fedora Linux 35 (Workstation Edition Prerelease)
Code editor: GNOME Builder
Vala Language Server: Github's master branch
Vala version (`valac --ve

[2021-09-28 21:26] #218 closed

[2021-09-29 06:01] liferooter opened #220 "VLS requires GIR when VAPI provided"
**Describe the bug**
A clear and concise description of what the bug is.

**Software**
OS and version (e.g. Ubuntu 20.04): GNOME OS Nightly
Code editor (e.g. VSCode): VSCodium
Vala Language Server (e.g. git commit, or PPA/AUR version): 3d3bbae2a1a577aa9e5b5321cdea2a3ca7e6a3fc
Vala version (`valac --version`): 0.54.1.5

**To Reproduce**
Source code repo:
https://gitlab.com/liferooter/compendium

St

[2021-09-30 14:53] v1993 opened #221 "GNOME Builder: Error importing plugin 'vala_langserv' on startup"
**Describe the bug**
The GNOME Builder plugin does not seem to be working for me. When staring fr

**Software**
OS and version (e.g. Ubuntu 20.04): KUbuntu 21.04
Code editor (e.g. VSCode): GNOME Builder 3.38.2
Vala Language Server (e.g. git commit, or PPA/AUR version): 4ae7150ad9ee4a5cb9f09fe82834a68cb0150be4
Vala version (`valac --version`): 0.52.5

**To Reproduce**
I've just installed this proje

[2021-09-30 15:43] Prince781 commented on #221
Huh. I guess Builder 3.38 doesn't support IdeLspSearchProvider?

[2021-09-30 16:04] Prince781 commented on #221
@v1993 check that the above fix works for you on that branch.

[2021-09-30 16:30] v1993 commented on #221
Yes, that fixes it, thanks!

While we are at it, a question: what files do I need to have per-symbol help with Vala, like shown on screenshot? I've tried installing all kinds of documentation packages, but nothing worked (there is no documentation for glib and gtk3 stuff all the same).

[2021-09-30 20:48] #221 closed

[2021-09-30 20:52] Prince781 commented on #221
Are you talking about having symbol documentation on hover? For that, VLS searches for GObject Introspection Repository files (ending in `.gir`). You should install `libgirepository-1.0-dev` and then other `-dev` packages for libraries.

[2021-10-01 12:57] v1993 commented on #221
About symbol doc on hover: I do have that package installed, but there's still no documentation. Should I make a separate issue?

[2021-10-02 03:33] Prince781 commented on #221
@v1993 please create a discussion for it first. If we determine it's a bug then we can always turn it into an issue.

[2021-10-03 02:21] Prince781 commented on #221
Or let me know if you found a solution.

[2021-10-04 11:46] v1993 commented on #221
Yeah, I'll make a discussion once I'll get to it. Too busy with the other stuff for now.

[2021-11-06 08:24] taozuhong opened #223 "The speed of response is too slow in my project"
**Describe the bug**
The response speed of auto-completion is too slow in my project

**Software**
OS and version: Windows 10 + MSYS2
Code editor: VSCode 1.62
Vala Language Server: 0.48.3(latest version)
Vala version (`valac --version`): 0.54.2

the vala-language-server is stable and allocated 800M+ memory size, the auto-completion list will be shown, but delay 5-10 seconds.

[2021-11-06 17:23] Prince781 commented on #223
Related: #114 #59

[2021-11-07 04:01] colinkiama commented on #212
After looking at [vala-lint](https://github.com/vala-lang/vala-lint), I think that it makes sense for its structure to be reused.

The key difference would be that each check would also have an corresponding action.

The first version of this would only include checks based on the [Generic LSP Formatting Options](https://microsoft.github.io/language-server-protocol/specifications/specification-3-1

[2021-11-08 06:50] JCWasmx86 commented on #212
@colinkiama I start to work from scratch on the branch "formatting"

[2021-11-18 22:37] leonardon397 opened #225 "Problem to install Vala Language Server on Fedora 35"
When I run command `sudo dnf install vala-language-server` or `sudo yum install vala-language-server`, I got followed error bellow:
[code]
The command tries to install a version for ARM 64 processors, even though my processor is X64 (that **isn't** same)...
Tries to Install X64 too (that's should be)...

**Trying to run alternative install:**
Firstly, I browsed to https://download.opensuse.org/rep

[2021-12-11 12:51] albfan commented on #225
I looked into this and build the package from https://copr.fedorainfracloud.org/coprs/prince781/vala-language-server/

Have no idea how copr contributions works so I will just put the patches here:

[patches.zip](https://github.com/Prince781/vala-language-server/files/7697023/patches.zip)

[2021-12-11 12:52] albfan commented on #225
Wonder if instructions for fedora should point to copr instead of opensuse

[2021-12-21 14:34] amz-x commented on #225
I have it built on my COPR repo, latest build is here:
https://copr.fedorainfracloud.org/coprs/amz/extras/build/3070587/

[2021-12-21 15:47] Prince781 commented on #225
I've updated the OBS repository and added a build for Fedora 35. So now you should be able to get it from the download page.

[2021-12-21 20:21] stsdc commented on #225
![image](https://user-images.githubusercontent.com/6031763/146992617-22ca581f-de1a-4aa7-9cfa-26fd37e7a9df.png)
@Prince781  Only Fedora 33 and 32 are available :grimacing:

[2021-12-22 04:53] Prince781 commented on #225
@stsdc it looks like the Fedora 35 package is placed under the "Unknown" category. Strange.
![Screenshot from 2021-12-21 23-52-05](https://user-images.githubusercontent.com/1341033/147037621-3dc02820-48c9-4b45-b8fa-e72c61543de8.png)

I'm closing this since the package has been added, but feel free to reopen if there's another problem with Fedora 35.

[2021-12-22 04:53] #225 closed

[2021-12-26 02:27] Prince781 commented on #220
@liferooter when I try to build this project with the gtksourceview5 subproject, I get the following error:

[code]

How can I reproduce this bug?

[2021-12-27 20:54] leonardon397 commented on #225
Thanks! Now, I got it! 👏‍👏‍👏‍👏‍👏‍👏‍👏‍👏‍👏‍👏‍👏‍😃😃😃😃😃😃😃😃

[2021-12-30 22:49] stsdc opened #228 "Issues with Meson custom targets"
Probably something changed in VS Code, because the extension was working like a month or so ago.

![image](https://user-images.githubusercontent.com/6031763/147792798-b207ebb5-9988-441b-a87c-9262b200e47d.png)

[2021-12-31 11:59] albfan opened #227 "Debugging and improve"
I'm trying to setup a complete workflow for vala.

Adding https://github.com/mesonbuild/meson/pull/9582 to meson, one can do:

[code]

With a correct setup, vim-lsp or similar work (if setup as mentioned in this project README.md)

so far so good, but after that, debug is little complex

I enable vim-lsp debug and extract basic operations:

So after run this server: (it is listening on stdin)

[co

[2022-01-02 02:47] Prince781 commented on #227
Also, with respect to improving debugging, see #26 and #203

[2022-01-02 11:24] stsdc commented on #228
I'm using 0.48.3+r1+pkg1~daily~ubuntu6.1 on elementary.

[2022-01-02 12:12] Prince781 commented on #228
Can you produce a trace of VLS from when you start it up to this error?

You need to enable debugging output in the Vala extension.

[2022-01-02 12:26] stsdc commented on #228
<details>
  <summary>Debug output</summary>

[code]
</details>

[2022-01-02 13:31] Prince781 commented on #228
This is where things go wrong. I'll try this out on eOS myself and see if I need more info from you.

[2022-01-02 19:17] albfan commented on #227
I will try to add test if I manage to understand all this stuff and lsp specs

[2022-01-04 13:45] stsdc commented on #228
VLS works again after I did this: https://github.com/stsdc/monitor/commit/93e7a8c8ac2b3004826438bee464ad5f3219ec7a.

I previously mindlessly copypasted some code to generate version string, but didn't really tried to used it until today. I did a refactor today and removed a lot of strange things.

[2022-01-06 00:31] Prince781 commented on #228
Well that's one way to solve the problem, but VLS 0.48.4 handles the old configuration. Therefore my advice is either to stick with your changes or upgrade to VLS 0.48.4 when you can.

[2022-01-06 00:31] #228 closed

[2022-01-06 12:12] stsdc commented on #228
Thanks @Prince781!

[2022-01-09 04:23] esodan opened #230 "Make it subproject friendly"
I would like to add VLS to GVLS test suite. GVls has a LSP Vala Client, so add an independent server is good test scenario.

Also I would like to use VLS as a Meson subproject, in order to do so I need you set to a variable the VLS executable.

[code]

So GVls can execute VLS server and test it and use it as a Meson subproject.

This could also help to fix #227

[2022-01-09 06:23] Prince781 commented on #230
I think you'd have a better idea of what's needed for your use case than I do. I have a rough idea, but I think a PR from you would be more fruitful.

[2022-01-09 14:26] esodan commented on #227
I have started to add VLS unit tests in GVLS, in order to test GVls' LSP client against VLS server.

First simple test, just initialize the server and got (just to show how is going on):
[code]

[2022-01-09 14:34] esodan commented on #81
As far as I can see VLS doesn't support `shutdown` method:
[code]

[2022-01-09 14:56] esodan opened #232 "Shared Symbol DB"
GVLS is constructing a Database for Symbols in the system, by parsing both VAPI for symbols and GIR files for documentation (also can query documentation from [valadoc.org](https://valadoc.org)), can help on completion and hover requests, may VLS wants to use it too.

GVLS is providing a tool to create the DB and fill it using [VDA](https://gitlab.gnome.org/esodan/libvda) and a SymbolDb provider t

[2022-01-09 17:47] Prince781 commented on #232
We don't use any extra infrastructure—we merely refer to the `Vala.Symbol`s in the code contexts that we keep track of.

[2022-01-09 17:53] Prince781 commented on #227
@esodan VLS accepts the `shutdown` request, but sends `null`, as [the specification requires](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#shutdown)

[2022-01-09 17:54] Prince781 commented on #81
@esodan VLS accepts the `shutdown` request, but sends `null`, as [the specification requires](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#shutdown).

[2022-01-11 17:31] esodan commented on #232
Currently, this DB was focused to store documentation for symbols in the system, from parsing both VAPI and GIR files. Now on is possible to have persistent store of symbols both system and per-project. Per-project is one of the solved issues by using a parsed code and `Vala.Symbol`, but what about large projects where compilation requires seconds to be completed? So parse once, store in a DB the

[2022-01-12 01:19] esodan commented on #230
Done. upstream.

[2022-01-12 01:19] #230 closed

[2022-01-14 18:07] Prince781 commented on #223
@taozuhong You can check out `wip/multithreading` and see how it improves responsiveness. Keep in mind this is a work in progress and I'm aware memory consumption is much too high. I'm still iterating on a solution. See my comments in PR #233.

[2022-01-14 18:11] Prince781 commented on #232
Right now I'm investigating other ways of improving performance here, using multithreading and possibly keeping a code context per source file rather than per build target. I'll reopen this if I reconsider it.

[2022-01-14 18:11] #232 closed

[2022-01-15 05:44] taozuhong commented on #223
I have tried it, the speed of response becomes quickly than the old versions, now it feels more comfortable, thanks for your great work. I'd like to support your work if I got paid from my users.

up to 1-second delay, while inputting the topmost namespace like GTK / GLib, I thank it can be made more quickly.

[2022-03-02 09:54] bilelmoussaoui opened #236 "VLS fails with no clear reason on vscode"
**Describe the bug**
A clear and concise description of what the bug is.

**Software**
OS and version (e.g. Ubuntu 20.04): VLS from the flatpak sdk
Code editor (e.g. VSCode): VScode
Vala Language Server (e.g. git commit, or PPA/AUR version): 0.48.4
Vala version (`valac --version`): 0.55.90.11-90d58

**To Reproduce**
Source code repo: Clocks https://gitlab.gnome.org/GNOME/iagno with a modified flat

[2022-03-03 02:47] Prince781 commented on #236
Have you tried this with other projects? There seems to be an issue with the Meson build in iagno:

[code]

You should know that VLS doesn't yet support `flatpak-builder` as a project backend (see #217), so `org.gnome.Reversi.json` won't be looked at.

[2022-03-03 08:08] bilelmoussaoui commented on #236
I have tried with various other Vala projects but it fails with #220, also I don't see what is wrong with the Meson build as it builds just fine. Anything specific I should look at ?

Is the flatpak-builder integration needed at all? vls just needs to be run inside the sandbox and that should be good enough I guess.

[2022-03-08 22:51] #212 closed

[2022-03-08 23:08] Prince781 commented on #213
@nahuelwexd what do you think about this design?

![Screenshot from 2022-03-08 18-05-38](https://user-images.githubusercontent.com/1341033/157341099-5d25b09c-5b2c-48ca-b096-4affe85f9598.png)

[2022-03-10 20:51] nahuelwexd commented on #213
Looks good

[2022-03-10 21:51] #213 closed

[2022-04-06 11:58] JCWasmx86 commented on #101
This would basically be the matter of connecting to the `load-configuration`-signal. I can write a patch, if you can give me some more details, e.g. where should the configuration be? E.g. a configuration file (.json) or something else. Furthermore I have seen that VLS does not even use `workspace/configuration`

[2022-04-16 19:59] Prince781 commented on #101
Yes. It's possible for VLS to get project information from Builder instead of introspecting the build files. Then, when evaluating dependencies, Builder can point us to the SDK it downloaded rather than us having to search the system.

[2022-04-22 09:31] Jedsek opened #239 "It is broken in Fedora 36"
I typed `vala-language-server --version`:

[code]

It works fine if I compile it manually.

[2022-04-27 18:11] Prince781 commented on #239
Ack. Is this from the official repo or the OBS repo?

[2022-04-29 11:00] Jedsek commented on #239
The former:
`sudo dnf info vala-language-server`:
[code]

[2022-04-29 16:31] Prince781 commented on #239
I think Fedora 36 is not out yet, right? Wouldn't you use rawhide? Does that have the same issue?

In any case, we need to file a bug report to the maintainers of this package. I know some recent version of Vala changed the API for `MethodCall` and made it extend `CallableExpression`. I think this happened before the 0.56 release, so perhaps it's just that the version of Vala in the repos is out o

[2022-04-30 05:55] Zaplae opened #241 "strange behaviour in helix/kate"
OS: `fedora 35`
vls version; `0.48.4`
valac version: `0.54.8`

![image](https://user-images.githubusercontent.com/98511527/166093457-8e368e25-9ff0-48da-b881-42b6f8f6d6ea.png)

It happened in both helix and kate.

[2022-04-30 13:36] Prince781 commented on #241
Does your editor support snippets?

[2022-04-30 14:29] Zaplae commented on #241
Oh!

[2022-04-30 15:28] Prince781 commented on #241
Well this can still be an issue—VLS should check for snippet support before sending them.

[2022-04-30 15:28] Prince781 commented on #241
Relevant spec here:

https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#completionClientCapabilities

[2022-05-06 11:50] ErikReider opened #242 "Completion: Only show properties when initializing Objects with properites"
Atm everything except for the class properties are visible. In the example below, the only completions that should be shown should be the class properties (prop1 and prop2)

![image](https://user-images.githubusercontent.com/35975961/167125332-b86e9838-a927-4098-b4ed-ce9164ee0b58.png)

This is how omnisharp (C# LSP) handles this:
![image](https://user-images.githubusercontent.com/35975961/16712587

[2022-05-06 16:20] amz-x commented on #239
Hi @Jedsek & @Prince781 I've submitted an update for Fedora 36 & Fedora 37 (Rawhide)

F36 Update: https://bodhi.fedoraproject.org/updates/FEDORA-2022-636096c82a
F36 Build: https://koji.fedoraproject.org/koji/buildinfo?buildID=1963521

@Jedsek please let me know if the following update works for you:
https://kojipkgs.fedoraproject.org//packages/vala-language-server/0.48.4/4.fc36/x86_64/vala-languag

[2022-05-06 17:02] Prince781 commented on #242
This is tricky to implement because we have to be aware of the surrounding expression. The Vala parser is currently not able to deal with this very well, so we would have to implement something in `Vls.SymbolExtractor`.

[2022-05-22 02:44] Jedsek commented on #239
It works now, thanks.

[2022-05-22 02:44] #239 closed

[2022-06-17 06:03] #78 closed

[2022-06-17 10:23] ErikReider opened #250 "Exits randomly while editing inside of try catch statement"
**Describe the bug**
Using the completion menu (nvim-cmp in this case) sometimes crashes the LSP. It also crashes in VSCode. Here's the output from VSCode: [Gist](https://gist.github.com/ErikReider/dc47766423bb8bee6360c3ad1d99388d)

**Software**
OS and version (e.g. Ubuntu 20.04): Arch
Code editor (e.g. VSCode): NeoVim
Vala Language Server: vala-language-server-git 0.48.4.r44.484465d6-1
Vala versi

[2022-06-17 16:43] Prince781 commented on #250
As this part of the output indicates:

[code]

This is actually an issue with the parser in the Vala compiler (you will notice this if you try to compile it with `valac`). Therefore this is an upstream issue. Please go to https://gitlab.gnome.org/GNOME/vala and report a parser bug with this source code. VLS will automatically abort because otherwise it will use up all the memory in your system.

[2022-06-17 16:43] #250 closed

[2022-06-23 02:01] taozuhong opened #252 "Add menuitem "Import namespace" on context menu"
While user inputting a new class,
then Vls could import its namespace automatic or show menuitem `Import namespace` to add its namespace for user

[2022-06-23 05:20] Prince781 commented on #252
Do mean that, when typing `new <type>`, VLS should show suggestions for types that have not been imported, and completing the suggestion should add a `using` directive to the top of the file?

I think in clangd this feature is called "global import."

[2022-07-16 20:25] elsiehupp opened #255 "Difficulty getting "code intelligence" to work inside a Docker container"
## Describe the Bug

I'm having trouble with getting `vala-language-server` to do VS Code code intelligence in a Docker Dev Container (based on [the elementary OS Odin Dockerfile](https://github.com/elementary/docker/blob/master/odin-stable/Dockerfile); customized version [here](https://github.com/elsiehupp/sync/blob/vala/.devcontainer/Dockerfile)). Vala Language Server does show up in the drop-do

[2022-07-17 02:21] Prince781 commented on #255
Hi, can you share the full output log?

[2022-07-17 17:17] elsiehupp commented on #255
Here's the output from the "Vala Language Server" drop-down in "output" tab. (Note that the errors here are consistent with the errors that I should be getting inline.)

<details>
<summary>Output: Vala Language Server</summary>

[code]

</details>

And here's the output from a few other drop-down items under "output". (Note that this is on a macOS host device.)

<details>
<summary>Output: Log (Ext

[2022-07-17 21:02] Prince781 commented on #255
@elsiehupp you need to enable debug mode. You would get much more informative output, then.

To do this, go into the extension settings and enable "Debug Mode"

[2022-07-17 21:04] Prince781 commented on #255
I will say it looks from your build log that your project can't compile, so VLS will probably fail to work until you get that fixed.

[2022-07-17 21:09] Prince781 commented on #236
One thing you can do is enable "Debug Mode" and rerun VLS, then give me the output log from that. Also, please do this on 0.48.5 now. If it is still a problem I'll look into it.

[2022-07-18 19:36] elsiehupp commented on #255
***EDIT: Note:*** I switched from using a macOS Docker host back to using an elementary OS Docker host in part because my elementary OS PC is more powerful but more importantly because I couldn't get GPG Git signing to work inside Docker on a Mac.

[2022-07-20 02:09] Prince781 commented on #255
The problem here is that you're using a version of VLS that's over a year old:

![image](https://user-images.githubusercontent.com/1341033/179880153-228e0fef-4e3b-47dd-b714-d2de5dffcbe8.png)
https://launchpad.net/%7Eelementary-os/+archive/ubuntu/os-patches/+index?batch=75&direction=backwards&memo=225&start=150

This might be fixed in the latest stable release, which is the only version of VLS that

[2022-07-26 06:56] akarin123 opened #256 "About support for null-safe access operator"
**Describe the bug**
It seems that currently vala-language-server cannot analyze null-safe access operator [(null-safe member access)](https://gitlab.gnome.org/GNOME/vala/-/merge_requests/90) and report errors. However the example code can be successfully compiled and run since vala has supported null-safe access operator since 0.53.1

**Software**
OS and version: Linux Mint 20.1
Code editor: VS C

[2022-07-27 03:52] elsiehupp commented on #255
Okay! So I removed the elementary OS version of `vala-language-server`, then cloned, built, and installed it from this repository, and it is now reporting version `0.48.5`.

Here is the same set of outputs after I switched to `vala-language-server 0.48.5` and relaunched the VS Code workspace (though without rebuilding the container). No, code intelligence is still not working. I haven't added the

[2022-07-27 04:51] Prince781 commented on #255
The root cause here may be that because at least one of your subprojects fails to build, the main project might be without a `.vapi` it expects. I'm not immediately sure how this should be handled.

[2022-07-27 05:10] Prince781 commented on #255
However, if you said this only fails inside a container, that's even stranger...

[2022-07-27 05:52] elsiehupp commented on #255
@colinkiama was apparently able to reproduce the issue outside the sandbox (also on elementary OS). He talked about it on the Vala Discord but hasn't had a chance to drop by this issue thread, yet.

Way back in my original comment, I did say this:

Basically I did the switch to Meson subprojects at roughly the same time that I did the switch to a Docker container, which made it difficult to tell w

[2022-07-30 08:16] colinkiama opened #257 "Add support for autocomplete for object initialization fields"
For example, while writing this code block:

[code]

 `Gtk.Label` field suggestions should be displayed while writing the line for the `text` field.

[2022-08-06 03:31] Prince781 commented on #256
Just curious, are you sure you're using VLS 0.48.5? Print `vala-language-server --version`

[2022-08-06 16:41] akarin123 commented on #256
It's the results.
<img width="403" alt="result" src="https://user-images.githubusercontent.com/30003315/183258089-79c3bdec-8fa4-42b8-bff9-f4f09914f02d.png">

[2022-08-06 17:29] Prince781 commented on #256
libvala is `0.48`, while your `vala` is 0.54.8. This means that VLS is linked to an older version of the Vala compiler. null-safe member accesses were implemented in Vala 0.54 and VLS supports them since fb5cbb9310f763e27af39111ecbb389e90778344

[2022-08-06 17:29] Prince781 commented on #256
Do `ldd $(which vala)`, `which vala`, and `which vala-language-server`

[2022-08-06 18:11] akarin123 commented on #256
Thx! It should be that VLS is linked to `libvala-0.48` while valac is linked to `libvala-0.54`.
<img width="469" alt="resss" src="https://user-images.githubusercontent.com/30003315/183260922-7559e032-bb48-4849-8be8-1808e954b601.png">

[2022-08-06 20:42] Prince781 commented on #256
So can I close this?

[2022-08-06 21:06] Prince781 commented on #257
This should hopefully be less complicated to achieve now that [`Vala.MemberInitializer` is a `Vala.Expression`](https://gitlab.gnome.org/GNOME/vala/-/commit/86bc23f2d7295ae3b2f5f79449d2c5a4a7a93a58) (wasn't true the last time I checked).

[2022-08-06 23:21] colinkiama commented on #257
I'm sorry, this is a clone of #242. I just noticed now

[2022-08-06 23:22] #257 closed

[2022-08-07 05:19] akarin123 commented on #256
Yes, thx!

[2022-08-07 05:33] #256 closed

[2022-08-07 14:55] shmup opened #258 "Question: Am I able to ignore "missing" symbols, types, etc"
I know this is probably not the correct approach, but I'd like to be able to define a few ignores.

Particularly, a file I'm working in right now is littered with diagnostics such as:

[code]

This is a project I am successfully building, and such things are not really missing. I know the "right way" to handle this isn't defining ignores, but, I'd like to anyways (for now). Similar to how, in Lua,

[2022-08-07 17:24] Prince781 commented on #258
Are you working with a Vala CMake project?

[2022-08-07 17:56] shmup commented on #258
@Prince781 yep, this project https://github.com/shmup/midori

[2022-08-15 21:19] bilelmoussaoui commented on #236
I didn't get any more information with the debug mode enabled
[code]

[2022-08-16 18:29] JCWasmx86 opened #259 "Crash while hovering"
**Describe the bug**
A clear and concise description of what the bug is.

**Software**
OS and version (e.g. Ubuntu 20.04): Fedora
Code editor (e.g. VSCode): GNOME Builder (org.gnome.Builder)
Vala Language Server (e.g. git commit, or PPA/AUR version): From org.freedesktop.Sdk.Vala//22.08beta
Vala version (`valac --version`): From org.freedesktop.Sdk.Vala

**To Reproduce**

1. Clone https://github.c

[2022-08-17 02:01] benwaffle opened #260 "Formatting a block of code erases it"
**Describe the bug**
When I select a section of code and format it, it disappears.

**Software**
OS and version (e.g. Ubuntu 20.04): MacOS
Code editor (e.g. VSCode): VSCodium
Vala Language Server (e.g. git commit, or PPA/AUR version): 0.48.5
Vala version (`valac --version`): 0.56.1

**To Reproduce**
Source code repo: https://github.com/benwaffle/vala-gen-json

Steps to reproduce the behavior:
1. C

[2022-08-17 16:11] Prince781 commented on #236
Hi @bilelmoussaoui

Are you sure debug mode was enabled and you restarted VLS / VSCode? You should at least see a bunch of vls-DEBUG messages related to configuring the project.

[2022-08-30 18:31] VBBr opened #263 "Error while compiling vls from source. Invalid regular expression."
**Describe the bug**
Error while trying to compile vls from source

**Software**
OS and version: Ubuntu 22.10
Vala version (`valac --version`): Vala 0.56.2

**Steps to reproduce the behavior:**
1. Clone vls repo
2. apt install meson valac libjsonrpc-glib-1.0-dev libvala-0.56-dev libgee-0.8-dev scdoc build-essential
3. meson -Dprefix=/usr build
4. ninja -C build
5. See error

<details>
  <summary>n

[2022-08-31 06:55] JoostScheffer commented on #89
I noticed that coc mentions vala-language-server in the documentation here:
https://github.com/neoclide/coc.nvim/wiki/Language-servers#vala

I also found [this blog post called "How to write a coc.nvim extension"](https://samroeca.com/coc-plugin.html) maybe this can help this issue

[2022-08-31 18:09] JCWasmx86 commented on #263
Maybe related: https://gitlab.gnome.org/GNOME/glib/-/merge_requests/2529

[2022-09-03 17:11] JCWasmx86 commented on #217
Did a bit of research, whether you could e.g. bolt this onto mesonproject, the result is working for 50%.

E.g. you have a vala project with that depends on the org.gnome.Sdk//master, VLS would have to do the equivalent to:

[code]
This only works if the vala project does not depend on some libraries installed from the manifest, as we have two prefixes:

- The one where the dependencies specified

[2022-09-05 14:58] Vendillah opened #264 "Installing VLS on Ubuntu 20.04"
I'm aware that there was no template to ask questions, but hopefully you're still willing to help me out.

I'd like to install VLS on an Ubuntu 20.04 derivative for vscode. The `README` redirects me to [OBS repository](https://software.opensuse.org//download.html?project=home%3APrince781&package=vala-language-server), sure. There, opening Ubuntu, are only options listed for ***x***Ubuntu and 2***1